The following code in this notebook extracts vocabulary features from each query and then returns a data frame of those extracted features. Only **SQS dataset** used

In [218]:
pwd

'/Users/assoumerredempta/Documents/aSpring_2023/RYSe_Final/FeatureExtraction'

# Load Libraries

The following block of code loads all libraries needed for this notebook. Numpy has an established to ensure that the random selection of queries drawn to establish certain features, such as top word n-grams; is consistent across this code and future execution.

In [219]:
import csv
import nltk
import pickle
import re
import string
import warnings
import random
import numpy as np
import pandas as pd

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from sklearn.feature_extraction.text import TfidfVectorizer
from tqdm import tqdm

np.random.seed(20200522)

stopwords = list(stopwords.words('english'))

# Functions for Vocabulary Features

Features used in the following code.

In [220]:
# Converts a list into a dictionary.
# param lst: is the list that is convert into dictionary
# returns resDct: the converted list

def convert(lst):
    
    resDct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    
    return resDct

# Load Data Sets

This block of code loads the data sets and extracts all unique queries from both.

In [221]:
# allSessionsSQS = pickle.load( open( "../Data/DataSets/SQS/casttrecSQS.p", "rb" ) )

allSessionsSQS = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
allQueries = allSessionsSQS['query'].tolist()
qID = allSessionsSQS['sID'].tolist()

In [222]:
allSessionsSQS

                                  query  class   sID
0                   US civil war causes      0  6352
1                        scooter brands      0  8305
2               scooter brands reliable      0  6814
3                               scooter      0  7688
4                         scooter cheap      0  6221
...                                 ...    ...   ...
4741                    House of dreams      1  5975
4742  When did Desmond doss get married      1  5233
4743                                  H      1  7864
4744                find fact about dog      1  5316
4745                                kid      1  8397

[4746 rows x 3 columns]

In [223]:
allSessionsSQS['sID'].is_unique

True

In [224]:
# # -- add a column of randomly selected unique values to represent qID that can be used to represent sID
# n = len(allSessionsSQS)
# allSessionsSQS['sID'] = random.sample(range(1,n+1),n)
# allQueries = allSessionsSQS['query'].tolist()
# qID = allSessionsSQS['sID'].tolist()

In [225]:
len(allSessionsSQS)

4746

In [226]:
allSessionsSQS

                                  query  class   sID
0                   US civil war causes      0  6352
1                        scooter brands      0  8305
2               scooter brands reliable      0  6814
3                               scooter      0  7688
4                         scooter cheap      0  6221
...                                 ...    ...   ...
4741                    House of dreams      1  5975
4742  When did Desmond doss get married      1  5233
4743                                  H      1  7864
4744                find fact about dog      1  5316
4745                                kid      1  8397

[4746 rows x 3 columns]

In [227]:
# -- S

In [228]:
# ss = np.random.randint(1, 1000, size=1000)
# ss = pd.DataFrame(ss, columns=['random_numbers'])
# ss

In [229]:
# len(ss['random_numbers'].unique())

In [230]:
# ss['rn'] = random.sample(range(1,1001),1000)
# ss

In [231]:
# len(ss['rn'].unique())

In [232]:
# ss['random_numbers'].unique()

In [233]:

# random.sample(range(1, 11), 10)

In [234]:
# -- E

In [235]:
allSessionsSQS['query'].is_unique

False

In [236]:
len(allQueries)

4746

# Core Vocab

Loads all vocabulary expected to be learned between Kindergarten to Seventh grade based on Common Core Curriculum, before extracting the ratio of words in each query that are, and are not; found in this list.

In [237]:
kd = ['a', 'all', 'am', 'an', 'and', 'are', 'as', 'at', 'away', 'back', 'ball', 'bell', 'big', 'bird', 'blue', 'book', 'boot', 'box', 'boy', 'brown', 'but', 'by', 'can', 'car', 'cat', 'come', 'cow', 'day', 'do', 'dog', 'down', 'end', 'fall', 'fan', 'fish', 'fly', 'food', 'for', 'from', 'fun', 'get', 'go', 'good', 'gray', 'green', 'groundhog', 'hat', 'he', 'here', 'hill', 'I', 'in', 'into', 'is', 'it', 'inside', 'kitten', 'little', 'look', 'mad', 'me', 'mud', 'my', 'name', 'no', 'not', 'of', 'on', 'orange', 'out', 'paint', 'pet', 'pin', 'play', 'put', 'rain', 'red', 'run', 'sad', 'say', 'see', 'she', 'sing', 'sit', 'so', 'stay', 'stop', 'story', 'sun', 'take', 'that', 'the', 'them', 'then', 'there', 'they', 'this', 'to', 'too', 'up', 'we', 'wet', 'what', 'where', 'who', 'will', 'with', 'work', 'yellow', 'yes', 'you', 'zoo', 'orange', 'white', 'black', 'monday', 'tuesday', 'wednesday','thursday','friday', 'saturday','sunday']
oned = ['a', 'all', 'am', 'and', 'at', 'ball', 'be', 'bed', 'big', 'book', 'box', 'boy', 'but', 'came', 'can', 'car', 'cat', 'come', 'cow', 'dad', 'day', 'did', 'do', 'dog', 'fat', 'for', 'fun', 'get', 'go', 'good', 'got', 'had', 'hat', 'he', 'hen', 'here', 'him', 'his', 'home', 'hot', 'I', 'if', 'in', 'into', 'is', 'it', 'its', 'let', 'like', 'look', 'man', 'may', 'me', 'mom', 'my', 'no', 'not', 'of', 'oh', 'old', 'on', 'one', 'out', 'pan', 'pet', 'pig', 'play', 'ran', 'rat', 'red', 'ride', 'run', 'sat', 'see', 'she', 'sit', 'six', 'so', 'stop', 'sun', 'ten', 'the', 'this', 'to', 'top', 'toy', 'two', 'up', 'us', 'was', 'we', 'will', 'yes', 'you' ]
twod = ['about', 'add', 'after', 'ago', 'an ', 'any', 'apple', 'are ', 'as', 'ask', 'ate', 'away', 'baby ', 'back', 'bad', 'bag', 'base', 'bat', 'bee', 'been', 'before', 'being', 'best', 'bike', 'bill', 'bird', 'black', 'blue', 'boat', 'both', 'bring', 'brother ', 'brown', 'bus', 'buy ', 'by', 'cake', 'call', 'candy', 'change', 'child', 'city', 'clean', 'club', 'coat', 'cold', 'coming ', 'corn', 'could', 'cry', 'cup', 'cut', 'daddy ', 'dear', 'deep', 'deer', 'doing', 'doll', 'door', 'down ', 'dress', 'drive', 'drop', 'dry', 'duck', 'each', 'eat', 'eating', 'egg', 'end', 'fall', 'far', 'farm', 'fast', 'father ', 'feed', 'feel', 'feet', 'fell ', 'find', 'fine ', 'fire', 'first ', 'fish', 'five', 'fix', 'flag', 'floor', 'fly', 'food', 'foot', 'four', 'fox', 'from ', 'full', 'funny', 'game', 'gas', 'gave', 'girl', 'give', 'glad', 'goat', 'goes ', 'going ', 'gold', 'gone', 'grade ', 'grass', 'green', 'grow', 'hand', 'happy', 'hard', 'has ', 'have ', 'hear ', 'help', 'here ', 'hill', 'hit', 'hold', 'hole', 'hop', 'hope ', 'horse', 'house ', 'how ', 'ice', 'inch', 'inside ', 'job', 'jump', 'just ', 'keep', 'king', 'know ', 'lake', 'land', 'last', 'late', 'lay', 'left', 'leg', 'light', 'line', 'little ', 'live', 'lives', 'long', 'looking', 'lost', 'lot', 'love', 'mad', 'made ', 'make ', 'many ', 'meat', 'men', 'met', 'mile', 'milk', 'mine', 'miss', 'moon', 'more', 'most', 'mother ', 'move', 'much ', 'must', 'myself ', 'nail', 'name ', 'need', 'new ', 'next', 'nice ', 'night', 'nine', 'north', 'now ', 'nut', 'off ', 'only', 'open', 'or ', 'other', 'our', 'outside ', 'over', 'page', 'park', 'part', 'pay', 'pick', 'plant', 'playing', 'pony', 'post', 'pull', 'put', 'rabbit', 'rain', 'read', 'rest', 'riding', 'road', 'rock', 'room', 'said ', 'same', 'sang', 'saw ', 'say', 'school ', 'sea', 'seat', 'seem', 'seen', 'send', 'set', 'seven', 'sheep', 'ship', 'shoe', 'show ', 'sick', 'side', 'sing', 'sky', 'sleep', 'small', 'snow', 'some ', 'soon ', 'spell', 'start', 'stay', 'still', 'store ', 'story', 'take', 'talk', 'tall', 'teach', 'tell', 'than ', 'thank', 'that', 'them ', 'then ', 'there ', 'they ', 'thing', 'think ', 'three', 'time ', 'today ', 'told', 'too ', 'took', 'train ', 'tree', 'truck', 'try', 'use', 'very ', 'walk', 'want ', 'warm', 'wash', 'way', 'week', 'well ', 'went ', 'were ', 'wet', 'what', 'when ', 'while ', 'white', 'who', 'why', 'wind', 'wish', 'with ', 'woke', 'wood', 'work', 'yellow', 'yet', 'your', 'zoo']
threed = ['able', 'above', 'afraid', 'afternoon', 'again', 'age', 'air', 'airplane', 'almost', 'alone', 'along', 'already', 'also', 'always', 'animal', 'another', 'anything', 'around', 'art', 'aunt', 'balloon', 'bark', 'barn', 'basket', 'beach', 'bear', 'because', 'become', 'began', 'begin', 'behind', 'believe', 'below', 'belt', 'better', 'birthday', 'body', 'bones', 'born', 'bought', 'bread', 'bright', 'broke', 'brought', 'busy', 'cabin', 'cage', 'camp', 'can\'t', 'care', 'carry', 'catch', 'cattle', 'cave', 'children', 'class', 'close', 'cloth', 'coal', 'color', 'corner', 'cotton', 'cover', 'dark', 'desert', 'didn\'t', 'dinner', 'dishes', 'does', 'done', 'don\'t', 'dragon', 'draw', 'dream', 'drink', 'early', 'earth', 'east', 'eight', 'even', 'ever', 'every', 'everyone', 'everything', 'eyes', 'face', 'family', 'feeling', 'felt', 'few', 'fight', 'fishing', 'flower', 'flying', 'follow', 'forest', 'forgot', 'form', 'found', 'fourth', 'free', 'Friday', 'friend', 'front', 'getting', 'given', 'grandmother', 'great', 'grew', 'ground', 'guess', 'hair', 'half', 'having', 'head', 'heard', 'he\'s', 'heat', 'hello', 'high', 'himself', 'hour', 'hundred', 'hurry', 'hurt', 'I\'d', 'I\'ll', 'I\'m', 'inches', 'isn\'t', 'it\'s', 'I\'ve', 'kept', 'kids', 'kind', 'kitten', 'knew', 'knife', 'lady', 'large', 'largest', 'later', 'learn', 'leave', 'let\'s', 'letter', 'life', 'list', 'living', 'lovely', 'loving', 'lunch', 'mail', 'making', 'maybe', 'mean', 'merry', 'might', 'mind', 'money', 'month', 'morning', 'mouse', 'mouth', 'Mr.', 'Mrs.', 'Ms.', 'music', 'near', 'nearly', 'never', 'news', 'noise', 'nothing', 'number', 'o\'clock', 'often', 'oil', 'once', 'orange', 'order', 'own', 'pair', 'paint', 'paper', 'party', 'pass', 'past', 'penny', 'people', 'person', 'picture', 'place', 'plan', 'plane', 'please', 'pocket', 'point', 'poor', 'race', 'reach', 'reading', 'ready', 'real', 'rich', 'right', 'river', 'rocket', 'rode', 'round', 'rule', 'running', 'salt', 'says', 'sending', 'sent', 'seventh', 'sew', 'shall', 'short', 'shot', 'should', 'sight', 'sister', 'sitting', 'sixth', 'sled', 'smoke', 'soap', 'someone', 'something', 'sometime', 'song', 'sorry', 'sound', 'south', 'space', 'spelling', 'spent', 'sport', 'spring', 'stairs', 'stand', 'state', 'step', 'stick', 'stood', 'stopped', 'stove', 'street', 'strong', 'study', 'such', 'sugar', 'summer', 'Sunday', 'supper', 'table', 'taken', 'taking', 'talking', 'teacher', 'team', 'teeth', 'tenth', 'that\'s', 'their', 'these', 'thinking', 'third', 'those', 'thought', 'throw', 'tonight', 'trade', 'trick', 'trip', 'trying', 'turn', 'twelve', 'twenty', 'uncle', 'under', 'upon', 'wagon', 'wait', 'walking', 'wasn\'t', 'watch', 'water', 'weather', 'we\'re', 'west', 'wheat', 'where', 'which', 'wife', 'wild', 'win', 'window', 'winter', 'without', 'woman', 'won', 'won\'t', 'wool', 'word', 'working', 'world', 'would', 'write', 'wrong', 'yard', 'year', 'yesterday', 'you\'re'  ]
fourd = ['across', 'against', 'answer', 'awhile', 'between', 'board', 'bottom', 'breakfast', 'broken', 'build', 'building', 'built', 'captain', 'carried', 'caught', 'charge', 'chicken', 'circus', 'cities', 'clothes', 'company', 'couldn\'t', 'country', 'discover', 'doctor', 'doesn\'t', 'dollar', 'during', 'eighth', 'else', 'enjoy', 'enough', 'everybody', 'example', 'except', 'excuse', 'field', 'fifth', 'finish', 'following', 'good-by', 'group', 'happened', 'harden', 'haven\'t', 'heavy', 'held', 'hospital', 'idea', 'instead', 'known', 'laugh', 'middle', 'minute', 'mountain', 'ninth', 'ocean', 'office', 'parent', 'peanut', 'pencil', 'picnic', 'police', 'pretty', 'prize', 'quite', 'radio', 'raise', 'really', 'reason', 'remember', 'return', 'Saturday', 'scare', 'second', 'since', 'slowly', 'stories', 'student', 'sudden', 'suit', 'sure', 'swimming', 'though', 'threw', 'tired', 'together', 'tomorrow', 'toward', 'tried', 'trouble', 'truly', 'turtle', 'until', 'village', 'visit', 'wear', 'we\'ll', 'whole', 'whose', 'women', 'wouldn\'t', 'writing', 'written', 'wrote', 'yell', 'young']
fived = ['although', 'America', 'among', 'arrive', 'attention', 'beautiful', 'countries', 'course', 'cousin', 'decide', 'different', 'evening', 'favorite', 'finally', 'future', 'happiest', 'happiness', 'important', 'interest', 'piece', 'planet', 'present', 'president', 'principal', 'probably', 'problem', 'receive', 'sentence', 'several', 'special', 'suddenly', 'suppose', 'surely', 'surprise', 'they\'re', 'through', 'usually', 'action', 'actor', 'actually', 'addition', 'agreed', 'allowed', 'aloud', 'amendment', 'amount', 'amusement', 'annual', 'appointed', 'arrange', 'attention', 'awhile', 'beginning', 'bruise', 'business', 'calves', 'capital', 'capitol', 'captain', 'carefully', 'caught', 'cause', 'celebrate', 'century', 'chemical', 'chocolate', 'circle', 'climate', 'climbed', 'collar', 'column', 'company', 'condition', 'consider', 'consonant', 'constant', 'continent', 'continued', 'country', 'course', 'crystal', 'current', 'curtain', 'daughter', 'daytime', 'decided', 'decimal', 'delicious', 'desert', 'dessert', 'details', 'determine', 'dictionary', 'difference', 'different', 'difficult', 'direction', 'disappoint', 'division', 'eighth', 'election', 'elements', 'energy', 'enjoyment', 'equal', 'equation', 'errands', 'exact', 'except', 'expect', 'explain', 'explode', 'express', 'factory', 'fault', 'favorite', 'finally', 'finished', 'forward', 'fought', 'fraction', 'furniture', 'future', 'general', 'government', 'graceful', 'graph', 'grasp', 'grease', 'grown-ups', 'guest', 'guide', 'happened', 'happily', 'harvest', 'healthy', 'height', 'hoarse', 'human', 'idea', 'imagine', 'include', 'increase', 'indicate', 'information', 'instrument', 'intention', 'interesting', 'inventor', 'island', 'jewel', 'journey', 'jungle', 'knives', 'known', 'language', 'laughter', 'length', 'limb', 'located', 'lumber', 'major', 'mammal', 'manufacture', 'material', 'mayor', 'measure', 'melody', 'members', 'memories', 'message', 'method', 'million', 'minor', 'modern', 'mountain', 'music', 'natural', 'necessary', 'neither', 'newspaper', 'northern', 'notebook', 'notice', 'noun', 'numeral', 'object', 'observe', 'opposite', 'orphan', 'ought', 'outside', 'oxygen', 'paid', 'paint', 'paragraph', 'pattern', 'pause', 'payment', 'perhaps', 'period', 'permit', 'phone', 'phrase', 'pleasant', 'pleasure', 'plural', 'poison', 'position', 'possible', 'practice', 'prepared', 'president', 'probably', 'problem', 'process', 'produce', 'program', 'promise', 'property', 'protection', 'provide', 'puzzle', 'quickly', 'quietly', 'radio', 'raise', 'rarely', 'rather', 'reached', 'receive', 'record', 'region', 'relax', 'remain', 'remove', 'repay', 'repeat', 'report', 'represent', 'respond', 'result', 'rhythm', 'rising', 'ruin', 'salad', 'sandal', 'scale', 'scent', 'schedule', 'science', 'section', 'separate', 'service', 'settled', 'several', 'shadow', 'shelter', 'shoulder', 'shouted', 'shower', 'signal', 'similar', 'sincerely', 'single', 'size', 'slippery', 'soar', 'soil', 'solution', 'solve', 'southern', 'split', 'spoiled', 'sports', 'square', 'squeeze', 'stain', 'state', 'statement', 'station', 'steer', 'stomach', 'stopping', 'straight', 'straighten', 'stream', 'stretched', 'suggest', 'suitcase', 'sunset', 'supply', 'sure', 'surface', 'surprise', 'surround', 'sweater', 'syllable', 'syrup', 'tablet', 'tasty', 'teaspoon', 'terrible', 'though', 'thoughtful', 'thrown', 'tornado', 'toward', 'traffic', 'trail', 'treasure', 'treatment', 'triangle', 'trouble', 'tunnel', 'type', 'understood', 'unknown', 'usually', 'value', 'various', 'warn', 'weigh', 'weight', 'weird', 'western', 'whisper', 'whoever', 'whole', 'whose', 'wives', 'women', 'wonderful', 'wound', 'wreck', 'x-ray', 'yesterday']
sixd = ['Abandon', 'abundant', 'access', 'accommodate', 'accumulate', 'adapt', 'adhere', 'agony', 'allegiance', 'ambition', 'ample', 'anguish', 'anticipate', 'anxious', 'apparel', 'appeal', 'apprehensive', 'arid', 'arrogant', 'awe', 'Barren', 'beacon', 'beneficial', 'blunder', 'boisterous', 'boycott', 'burden', 'Campaign', 'capacity', 'capital', 'chronological', 'civic', 'clarity', 'collaborate', 'collide', 'commend', 'commentary', 'compact', 'composure', 'concise', 'consent', 'consequence', 'conserve', 'conspicuous', 'constant', 'contaminate', 'context', 'continuous', 'controversy', 'convenient', 'cope', 'cordial', 'cultivate', 'cumulative', '', 'Declare', 'deluge', 'dense', 'deplete', 'deposit', 'designate', 'desperate', 'deteriorate', 'dialogue', 'diligent', 'diminish', 'discretion', 'dissent', 'dissolve', 'distinct', 'diversity', 'domestic', 'dominate', 'drastic', 'duration', 'dwell', 'Eclipse', 'economy', 'eerie', 'effect', 'efficient', 'elaborate', 'eligible', 'elude', 'encounter', 'equivalent', 'erupt', 'esteem', 'evolve', 'exaggerate', 'excel', 'exclude', 'expanse', 'exploit', 'extinct', 'extract', 'Factor', 'former', 'formulates', 'fuse', 'futile', 'Generate', 'genre', 'Habitat', 'hazardous', 'hoax', 'hostile', 'Idiom', 'ignite', 'immense', 'improvises', 'inept', 'inevitable', 'influence', 'ingenious', 'innovation', 'intimidate', 'Jovial', 'Knack', 'Leeway', 'legislation', 'leisure', 'liberate', 'likeness', 'linger', 'literal', 'loathe', 'lure', 'Majority', 'makeshift', 'manipulate', 'marvel', 'massive', 'maximum', 'meager', 'mere', 'migration', 'mimic', 'minute', 'monotonous', 'Negotiate', 'Objective', 'obstacle', 'omniscient', 'onset', 'optimist', 'originate', 'Painstaking', 'paraphrase', 'parody', 'persecute', 'plummet', 'possess', 'poverty', 'precise', 'predicament', 'predict', 'prejudice', 'preliminary', 'primitive', 'priority', 'prominent', 'propel', 'prosecute', 'prosper', 'provoke', 'pursue', 'Quest', 'Recount', 'refuge', 'reinforce', 'reluctant', 'remorse', 'remote', 'resolute', 'restrain', 'retaliate', 'retrieve', 'rigorous', 'rural', 'Salvage', 'sanctuary', 'siege', 'significant', 'solar', 'soothe', 'stationary', 'stifle', 'strive', 'subordinate', 'subsequent', 'superior', 'supplement', 'swarm', 'Tangible', 'terminate', 'terrain', 'trait', 'transform', 'transport', 'treacherous', 'Unanimous', 'unique', 'unruly', 'urban', 'Vacate', 'verdict', 'verge', 'vibrant', 'vital', 'vow', 'accept', 'accidentally', 'acquire', 'ambulance', 'ancient', 'appearance', 'appointment', 'arithmetic', 'audience', 'autumn', 'beautifully', 'beliefs', 'blown', 'bough', 'bows', 'calendar', 'canyon', 'capable', 'capacity', 'caution', 'ceiling', 'champion', 'choir', 'cleanse', 'combination', 'comfortable', 'community', 'complain', 'concentration', 'concern', 'connection', 'constitution', 'contagious', 'conversation', 'cooperation', 'correct', 'coupon', 'creative', 'creature', 'crisis', 'culture', 'curious', 'dangerous', 'decision', 'demonstrate', 'denominator', 'department', 'departure', 'depth', 'descendant', 'disagreement', 'disastrous', 'discussion', 'distance', 'distributed', 'earliest', 'echoes', 'edition', 'educate', 'electricity', 'element', 'elevator', 'emergency', 'employer', 'emptiness', 'encouragement', 'encyclopedia', 'entire', 'entrance', 'envelope', 'equator', 'especially', 'establish', 'example', 'excellent', 'excitement', 'exercise', 'experience', 'exterior', 'familiar', 'faucet', 'fierce', 'fireproof', 'following', 'forgetting', 'forgiveness', 'fossil', 'freight', 'frighten', 'fuel', 'further', 'gallon', 'gaze', 'gesture', 'governor', 'graduation', 'grateful', 'grief', 'halves', 'hamburger', 'hangar', 'hanger', 'happiness', 'headache', 'heroes', 'history', 'honorable', 'horizon', 'hunger', 'hyphen', 'ignore', 'imagination', 'immediate', 'importance', 'improvement', 'independence', 'ingredient', 'injury', 'inquire', 'instead', 'instruction', 'intermission', 'interview', 'invisible', 'invitation', 'involve', 'jealous', 'junior', 'knowledge', 'lawyer', 'league', 'legal', 'liberty', 'liquid', 'listening', 'loaves', 'location', 'luggage', 'manager', 'manner', 'manor', 'marriage', 'meant', 'mechanic', 'medicine', 'mention', 'minus', 'minute', 'mistaken', 'misunderstand', 'mixture', 'mourn', 'multiple', 'muscle', 'museum', 'musician', 'mute', 'myth', 'nationality', 'negative', 'noisy', 'noticeable', 'novel', 'numerator', 'obtain', 'occur', 'official', 'operate', 'original', 'outline', 'partial', 'passenger', 'patient', 'penalty', 'penguin', 'percent', 'performance', 'personal', 'persuade', 'physical', 'piano', 'plumber', 'poem', 'poet', 'policy', 'pollute', 'pollution', 'positive', 'potatoes', 'predict', 'prefer', 'pressure', 'prevent', 'principal', 'private', 'project', 'pumpkins', 'purchase', 'purse', 'quote', 'radius', 'rapid', 'ratio', 'realize', 'recently', 'recycle', 'reduce', 'referred', 'regardless', 'regular', 'rehearse', 'relief', 'relieve', 'remarkable', 'remind', 'remote', 'replacement', 'replied', 'reply', 'requirement', 'rescue', 'resident', 'resources', 'respectful', 'review', 'roam', 'routine', 'rumor', 'rural', 'safety', 'sailor', 'salute', 'satisfy', 'scarcely', 'scientific', 'scissors', 'selection', 'senior', 'sentence', 'separately', 'serious', 'session', 'shampoo', 'shelves', 'shorten', 'silent', 'simply', 'sketch', 'skillful', 'solar', 'sought', 'spaghetti', 'sponge', 'squawk', 'storage', 'strain', 'strategy', 'strength', 'strive', 'struggle', 'studios', 'success', 'suggestion', 'support', 'surrounded', 'sword', 'system', 'telephone', 'television', 'temperature', 'theme', 'themselves', 'therefore', 'thicken', 'thousand', 'threat', 'tomatoes', 'trophies', 'tutor', 'unbelievable', 'underneath', 'unite', 'vacuum', 'vain', 'variety', 'vary', 'vault', 'vegetable', 'vein', 'violence', 'visible', 'vision', 'waste', 'who\'s', 'whose', 'wrestle', 'wrinkle', 'yield']
# sevend = ['abbreviation', 'absence', 'absolutely', 'absorb', 'abundant', 'accessible', 'accompanied', 'accomplishment', 'accurate', 'achievement', 'acres', 'adequate', 'adjustable', 'admit', 'admittance', 'advice', 'advise', 'afghan', 'alternate', 'alternative', 'amusement', 'analysis', 'analyze', 'ancestor', 'anniversary', 'appreciate', 'artificial', 'assistance', 'association', 'athlete', 'atmosphere', 'attendance', 'authority', 'bacteria', 'bagel', 'baggage', 'benefited', 'benefiting', 'bicycle', 'biscuit', 'bizarre', 'boulevard', 'boundary', 'bouquet', 'brilliant', 'brochure', 'bulletin', 'bureau', 'campaign', 'cancellation', 'candidate', 'capable', 'capital', 'capitol', 'category', 'celery', 'cemetery', 'changeable', 'chaperone', 'character', 'cinnamon', 'civilize', 'commercial', 'committed', 'committee', 'commotion', 'companion', 'competent', 'competition', 'complement', 'complex', 'compliment', 'compressor', 'concentrate', 'concentration', 'conductor', 'confetti', 'congratulations', 'consequently', 'controlling', 'cringe', 'culminate', 'culprit', 'deceive', 'delayed', 'democracy', 'deodorant', 'descendent', 'description', 'diameter', 'diamond', 'discourage', 'disgraceful', 'dismissal', 'distinguished', 'dreadful', 'economics', 'economy', 'elementary', 'embarrass', 'emotion', 'emphasize', 'encircle', 'enclosing', 'encounter', 'endurance', 'engineer', 'environment', 'episode', 'erosion', 'eruption', 'evident', 'exchange', 'executive', 'exhibit', 'expensive', 'extinct', 'extinguish', 'extraordinary', 'extremely', 'fabricate', 'failure', 'fascinating', 'fatigue', 'flagrant', 'foreign', 'forfeit', 'frequently', 'fundamental', 'genuine', 'ghetto', 'gossiping', 'gradual', 'graffiti', 'grammar', 'grievance', 'guarantee', 'harass', 'havoc', 'heroic', 'hesitate', 'horrify', 'hospital', 'humid', 'humility', 'hygiene', 'identical', 'idle', 'idol', 'illegal', 'illustration', 'imaginary', 'immediately', 'immobilize', 'impossibility', 'inconvenient', 'incredible', 'individual', 'infamous', 'influence', 'informant', 'inhabit', 'inherit', 'innocence', 'innocent', 'instructor', 'intelligent', 'interruption', 'introduction', 'involvement', 'irate', 'irresistible', 'jealousy', 'judgment', 'juvenile', 'kettle', 'knitting', 'laboratory', 'language', 'legibly', 'liquidation', 'management', 'maneuver', 'media', 'mileage', 'miniature', 'misbehaved', 'morale', 'mortgage', 'movement', 'murmur', 'musician', 'mysterious', 'negotiate', 'nervous', 'nuisance', 'nurture', 'oases', 'oasis', 'obedient', 'obstacle', 'obviously', 'occasion', 'ordinarily', 'ordinary', 'organization', 'pamphlet', 'panic', 'panicked', 'panicky', 'parallel', 'paralysis', 'paralyze', 'penicillin', 'pedestrian', 'phantom', 'pheasant', 'phrase', 'politely', 'popular', 'precipitation', 'principal', 'principle', 'privilege', 'procedure', 'pronunciation', 'psychology', 'puny', 'qualified', 'qualifying', 'quotation', 'raspberry', 'reasonable', 'receipt', 'receiving', 'recipe', 'recognition', 'recommend', 'recruit', 'reddest', 'reprimand', 'resigned', 'restaurant', 'rotten', 'sandwich', 'scarcity', 'scenery', 'secretary', 'securing', 'significance', 'simile', 'sincerely', 'sincerity', 'situation', 'skeptical', 'slumber', 'smudge', 'solemn', 'souvenir', 'spacious', 'specific', 'stationary', 'stationery', 'statistics', 'subscription', 'substitute', 'superintendent', 'supervisor', 'supposedly', 'threatening', 'tolerate', 'tongue', 'tournament', 'tragedy', 'traitor', 'transferred', 'transferring', 'transmitted', 'traveled', 'traveling', 'unfortunately', 'uniform', 'university', 'unnecessary', 'valuable', 'various', 'vehicle', 'version', 'vertical', 'victim', 'vigorously', 'violation', 'visualize', 'volcano', 'voyage', 'wealthy', 'weapon', 'wheeze', 'wilderness', 'Abate', 'abnormal', 'abode', 'abrupt', 'accelerate', 'acclaim', 'acknowledge', 'acquire', 'aspire', 'acrid', 'addict', 'adjacent', 'admonish', 'affliction', 'agitate', 'ajar', 'akin', 'allege', 'annihilate', 'anonymous', 'antagonize', 'apathy', 'arbitrate', 'astute', 'authentic', 'avert', 'Bellow', 'beseech', 'bestow', 'bewilder', 'bigot', 'blatant', 'bleak', 'braggart', 'brawl', 'browse', 'bystander', 'Candid', 'canine', 'canny', 'capricious', 'capsize', 'casual', 'casualty', 'catastrophe', 'cater', 'chorus', 'citrus', 'clamber', 'climax', 'compromise', 'concur', 'confront', 'congested', 'conjure', 'consult', 'corrupt', 'counterfeit', 'covet', 'customary', 'Debut', 'deceased', 'dependent', 'despondent', 'detach', 'devour', 'dishearten', 'dismal', 'dismantle', 'distraught', 'docile', 'downright', 'drone', 'dumbfound', 'Emblem', 'endure', 'ensue', 'enthrall', 'epidemic', 'erode', 'exuberant', 'Fathom', 'feud', 'figment', 'firebrand', 'flabbergast', 'flagrant', 'flaw', 'fruitless', 'Gaudy', 'geography', 'gratify', 'gravity', 'grim', 'grimy', 'grueling', 'gruesome', 'Haggle', 'headlong', 'hilarious', 'homage', 'homicide', 'hospitable', 'hurtle', 'hybrid', 'Illiterate', 'impede', 'implore', 'incident', 'incredulous', 'infamous', 'infuriate', 'insinuate', 'intensified', 'inundate', 'irate', 'Lavish', 'legacy', 'legitimate', 'lethal', 'loath', 'lurk', 'Magnetic', 'mirth', 'quench', 'magnitude', 'maternal', 'maul', 'melancholy', 'mellow', 'momentum', 'mortify', 'mull', 'murky', 'Narrative', 'negligent', 'nimble', 'nomadic', 'noteworthy', 'notify', 'notorious', 'nurture', 'Obnoxious', 'oration', 'orthodox', 'overwhelm', 'Pamper', 'patronize', 'peevish', 'pelt', 'pending', 'perceived', 'perjury', 'permanent', 'persist', 'perturb', 'pique', 'pluck', 'poised', 'ponder', 'potential', 'predatory', 'presume', 'preview', 'prior', 'prowess', 'Radiant', 'random', 'rant', 'recede', 'reprimand', 'resume', 'retort', 'robust', 'rupture', 'Saga', 'sequel', 'sham', 'shirk', 'simultaneously', 'snare', 'species', 'status', 'stodgy', 'substantial', 'subtle', 'sullen', 'supervise', 'Tamper', 'throb', 'toxic', 'tragedy', 'trickle', 'trivial', 'Uncertainty', 'unscathed', 'upright', 'urgent', 'utmost', 'Vengeance', 'vicious', 'vindictive', 'vista', 'vocation', 'void', 'Wary', 'whim', 'wince', 'wrath', 'Yearn']

# Note: seven is taken out because the age we are considering 

coreVocab = []
vocab = []
nonVocab = []

st = WordNetLemmatizer()
"""
The following lammatize the splitted words and put them in lower case 

"""
for word in kd:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()])) 
for word in oned:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
for word in twod:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
for word in threed:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
for word in fourd:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
for word in fived:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
for word in sixd:
    coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
# for word in sevend:
#     coreVocab.append(" ".join([st.lemmatize(i.lower()) for i in word.split()]))
    

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:

        splitQuery = [st.lemmatize(i.lower()) for i in query.split(' ')]

        queryVocab = 0
        nonqueryVocab = 0
        totalVocab = 0

        for word in splitQuery:
            if word in coreVocab:
                queryVocab  +=1
                totalVocab  +=1
            else:
                nonqueryVocab +=1
                totalVocab  +=1

        vocab.append(queryVocab/totalVocab) 
        nonVocab.append(nonqueryVocab/totalVocab) 
        pbar.update() 

Vocab = pd.DataFrame(data=vocab, columns = ['coreVocab'])
Vocab['query'] = allQueries
Vocab['nonCoreVocab'] = nonVocab
# Vocab['qID'] = qID
# Vocab = Vocab.set_index('query')

100%|██████████| 4746/4746 [00:00<00:00, 18293.47it/s]

In [238]:
Vocab.head(2)

   coreVocab                query  nonCoreVocab
0        0.5  US civil war causes           0.5
1        0.0       scooter brands           1.0

In [239]:
Vocab.shape

(4746, 3)

In [240]:
if "results" in coreVocab:
    print("it's there")
else:
    print("not there")

not there

In [241]:
print("Core Vocab = ", len(coreVocab))
# print( "Sum words in all grades = ", len(kd + sevend + oned + twod + threed + fourd + fived + sixd ))

Core Vocab =  1780

In [242]:
Vocab

      coreVocab                              query  nonCoreVocab
0          0.50                US civil war causes          0.50
1          0.00                     scooter brands          1.00
2          0.00            scooter brands reliable          1.00
3          0.00                            scooter          1.00
4          0.00                      scooter cheap          1.00
...         ...                                ...           ...
4741       1.00                    House of dreams          0.00
4742       0.50  When did Desmond doss get married          0.50
4743       0.00                                  H          1.00
4744       0.75                find fact about dog          0.25
4745       1.00                                kid          0.00

[4746 rows x 3 columns]

In [243]:
len(Vocab['coreVocab'])

4746

In [244]:
len(kd + oned + twod + threed + fourd + fived + sixd )

1780

In [245]:
# Comment:

# 1st query coreVocab is 0.5 because 'consulting' is in core vocab
# Sum of coreVocab and nonCoreVocab should = 1

# Age of Acquisition features

In this block of code we first load up the Age of Acquistion data set (which is a csv with multiple columns representing a variety of information) and process it into a dictionary where the key is the word, and the value is AoA rating. We then find the AoA rating for each word in the query, extracting the min, max, average (known as query complexity), and ratio of words expected to be learned by the age of 12.

In [246]:
# look at the info in the data

# the words expected to be known at a certain age

dtAoA = pd.read_csv('DataSets/AoA/AoA_51715_words.csv')
dtAoA.head()

,Word,Alternative.spelling,Freq_pm,Dom_PoS_SUBTLEX,Nletters,Nphon,Nsyll,Lemma_highest_PoS,AoA_Kup,Perc_known,AoA_Kup_lem,Perc_known_lem,AoA_Bird_lem,AoA_Bristol_lem,AoA_Cort_lem,AoA_Schock
0,a,a,20415.27,Article,1,1,1,a,2.89,1.00,2.89,1.00,3.16,NaN,NaN,NaN
1,aardvark,aardvark,0.41,Noun,8,7,2,aardvark,9.89,1.00,9.89,1.00,NaN,NaN,NaN,NaN
2,abacus,abacus,0.24,Noun,6,6,3,abacus,8.69,0.65,8.69,0.65,NaN,NaN,NaN,NaN
3,abacuses,abacuses,0.02,Noun,8,9,4,abacus,NaN,NaN,8.69,0.65,NaN,NaN,NaN,NaN
4,abalone,abalone,0.51,Verb,7,7,4,abalone,12.23,0.72,12.23,0.72,NaN,NaN,NaN,NaN

In [247]:
dtAoA.loc[dtAoA['Lemma_highest_PoS']=='it', 'AoA_Kup_lem']

24706    4.4
Name: AoA_Kup_lem, dtype: float64

In [248]:
dtAoA.loc[dtAoA['Lemma_highest_PoS']=='consult', 'AoA_Kup_lem']

9667    10.95
9672    10.95
9673    10.95
9674    10.95
Name: AoA_Kup_lem, dtype: float64

In [249]:
AoAvocab = [] # a word and it's corresponding age

with open('DataSets/AoA/AoA_51715_words.csv') as csvFile:
    csvReader = csv.reader(csvFile)
    lineCount = 0
    for row in csvReader:
        if lineCount == 0:
            lineCount += 1
        else:
            AoAvocab.append(row[7]) # row[7]: Column (Lemma_highest_PoS) with lemma of the words
            AoAvocab.append(row[10]) # row[10]: Column 
            
AoAVConv = convert(AoAvocab) # make 'AoAvocab' a dict of words and corresponding age

minAoA = []
maxAoA = []
averageVocab = []
ratioAoA = []

st = WordNetLemmatizer()


with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        count = 0
        vocab = []

        for word in query.split(' '):
            word = word.lower().strip()
            word = re.sub(r'[^\w\s]','',word) 
            word = st.lemmatize(word)
            if word in AoAVConv:
                vocab.append(float(AoAVConv[word])) # if a word in query is found in listed vocabulary we save it's value
            else:
                vocab.append(0)


        vocab = np.array(vocab)
        
        if vocab.size == 0:
            minAoA.append(-1) 
            maxAoA.append(-1) 
            averageVocab.append(-1)
            ratioAoA.append(0)
        elif vocab.size > 0:
            minAoA.append(np.min(vocab))
            maxAoA.append(np.max(vocab))
            averageVocab.append(np.mean(vocab))
            for entry in vocab:
                if entry < 13 and entry > 0: # 13 = limited age
                    count +=1
            ratioAoA.append(count/len(vocab))
        
        pbar.update()

Vocab['minAoA'] = minAoA
Vocab['maxAoA'] = maxAoA
Vocab['ratioAoA'] = ratioAoA
Vocab['queryComplexity'] = averageVocab # mean of age

100%|██████████| 4746/4746 [00:00<00:00, 38669.87it/s]

In [250]:
Vocab.shape

(4746, 7)

In [251]:
# --- Start verify ---

In [252]:
#  vocab[1]

In [253]:
np.min(vocab)

4.28

In [254]:
AoAvocab

['a',
 '2.89',
 'aardvark',
 '9.89',
 'abacus',
 '8.69',
 'abacus',
 '8.69',
 'abalone',
 '12.23',
 'abalone',
 '12.23',
 'abandon',
 '8.32',
 'abandon',
 '8.32',
 'abandoner',
 '11.89',
 'abandon',
 '8.32',
 'abandonment',
 '10.27',
 'abandon',
 '8.32',
 'abase',
 '14.57',
 'abasement',
 '15.13',
 'abate',
 '14.44',
 'abate',
 '14.44',
 'abatement',
 '15.12',
 'abate',
 '14.44',
 'abate',
 '14.44',
 'abattoir',
 '15.17',
 'abbacy',
 '14.50',
 'abbess',
 '15.43',
 'abbess',
 '15.43',
 'abbey',
 '13.06',
 'abbot',
 '12.10',
 'abbreviate',
 '9.95',
 'abbreviated',
 '10.50',
 'abbreviation',
 '9.11',
 'abbreviation',
 '9.11',
 'abdicate',
 '12.60',
 'abdicate',
 '12.60',
 'abdicate',
 '12.60',
 'abdicate',
 '12.60',
 'abdication',
 '14.94',
 'abdomen',
 '8.61',
 'abdomen',
 '8.61',
 'abdominal',
 '10.24',
 'abduct',
 '11.26',
 'abduct',
 '11.26',
 'abduct',
 '11.26',
 'abduction',
 '11.94',
 'abduction',
 '11.94',
 'abductor',
 '11.11',
 'abductor',
 '11.11',
 'abduct',
 '11.26',
 'abeam',
 '13.40',
 'aberrant',
 '13.31',
 'aberration',
 '12.69',
 'aberration',
 '12.69',
 'abet',
 '12.15',
 'abet',
 '12.15',
 'abet',
 '12.15',
 'abettor',
 '15.55',
 'abeyance',
 '15.00',
 'abhor',
 '13.76',
 'abhor',
 '13.76',
 'abhorrent',
 '12.14',
 'abhor',
 '13.76',
 'abide',
 '9.50',
 'abide',
 '9.50',
 'abide',
 '9.50',
 'abiding',
 '10.30',
 'ability',
 '8.84',
 'ability',
 '8.84',
 'abject',
 '14.00',
 'abjuration',
 '17.12',
 'abjure',
 '14.60',
 'ablation',
 '13.29',
 'ablaze',
 '10.83',
 'able',
 '7.79',
 'able',
 '7.79',
 'able',
 '7.79',
 'ablution',
 '13.64',
 'ablution',
 '13.64',
 'abnormal',
 '10.05',
 'abnormality',
 '11.58',
 'abnormality',
 '11.58',
 'aboard',
 '8.66',
 'abode',
 '12.06',
 'abolish',
 '10.42',
 'abolish',
 '10.42',
 'abolish',
 '10.42',
 'abolish',
 '10.42',
 'abolition',
 '13.28',
 'abolitionism',
 '11.78',
 'abolitionist',
 '12.60',
 'abolitionist',
 '12.60',
 'abominable',
 '8.94',
 'abominate',
 '15.00',
 'abomination',
 '11.17',
 'abomination',
 '11.17',
 'aboriginal',
 '14.75',
 'aboriginal',
 '14.75',
 'aborigine',
 '12.56',
 'aborigine',
 '12.56',
 'aborning',
 '13.25',
 'abort',
 '12.21',
 'abort',
 '12.21',
 'abort',
 '12.21',
 'abortion',
 '13.21',
 'abortionist',
 '15.00',
 'abortionist',
 '15.00',
 'abortion',
 '13.21',
 'abortive',
 '13.93',
 'abort',
 '12.21',
 'abound',
 '11.65',
 'abound',
 '11.65',
 'abound',
 '11.65',
 'abound',
 '11.65',
 'about',
 '5.07',
 'above',
 '4.55',
 'aboveboard',
 '13.00',
 'aboveground',
 '8.05',
 'abovementioned',
 '14.24',
 'abracadabra',
 '6.89',
 'abrade',
 '14.00',
 'abrade',
 '14.00',
 'abrasion',
 '11.95',
 'abrasion',
 '11.95',
 'abrasive',
 '12.22',
 'abrasiveness',
 '12.06',
 'abrasive',
 '12.22',
 'abreaction',
 '15.80',
 'abreast',
 '13.06',
 'abridge',
 '14.35',
 'abridged',
 '12.56',
 'abridgement',
 '12.32',
 'abridge',
 '14.35',
 'abroad',
 '10.15',
 'abrogate',
 '15.22',
 'abrogate',
 '15.22',
 'abrupt',
 '10.95',
 'abruption',
 '11.82',
 'abruptness',
 '12.39',
 'abscess',
 '13.11',
 'abscess',
 '13.11',
 'abscond',
 '13.36',
 'abscond',
 '13.36',
 'absconder',
 '16.62',
 'absconder',
 '16.62',
 'absence',
 '7.70',
 'absence',
 '7.70',
 'absent',
 '6.50',
 'absentee',
 '11.00',
 'absenteeism',
 '13.43',
 'absentee',
 '11.00',
 'absent',
 '6.50',
 'absentminded',
 '10.84',
 'absentmindedness',
 '9.61',
 'absinthe',
 '16.29',
 'absinthe',
 '16.29',
 'absolute',
 '8.53',
 'absolutely',
 '7.08',
 'absoluteness',
 '12.68',
 'absolute',
 '8.53',
 'absolution',
 '11.71',
 'absolve',
 '12.90',
 'absolve',
 '12.90',
 'absolver',
 '13.60',
 'absolve',
 '12.90',
 'absolve',
 '12.90',
 'absorb',
 '8.83',
 'absorb',
 '8.83',
 'absorbent',
 '10.32',
 'absorber',
 '10.33',
 'absorber',
 '10.33',
 'absorb',
 '8.83',
 'absorb',
 '8.83',
 'absorption',
 '10.94',
 'absorption',
 '10.94',
 'abstain',
 '12.95',
 'abstain',
 '12.95',
 'abstain',
 '12.95',
 'abstain',
 '12.95',
 'abstention',
 '15.19',
 'abstention',
 '15.19',
 'abstinence',
 '12.74',
 'abstract',
 '11.47',
 'abstract',
 '11.47',
 'abstraction',
 '13.65',
 'abstractionist',
 '14.72',
 'abstraction',
 '13.65',
 'abstract',
 '11.47',
 'abstruse',
 '14.60',
 'absurd',
 '10.50',
 'absurdist',
 '13.00',
 'absurdity',
 '13.21',
 'absurdity',
 '13.21',
 'abundance',
 '10.45',
 'abundant',
 '12.84',
 'abuse',
 '8.61',
 'abuse',
 '8.61',
 'abuser',
 '9.94',
 'abuser',
 '9.94',
 'abuse',
 '8.61',
 'abuse',
 '8.61',
 'abusive',
 '9.58',
 'abusiveness',
 '10.47',
 'abut',
 '13.11',
 'abutment',
 '15.33',
 'abutment',
 '15.33',
 'abut',
 '13.11',
 'abuzz',
 '13.00',
 'abysm',
 '15.25',
 'abysmal',
 '13.78',
 'abyss',
 '11.00',
 'abyssal',
 '17.27',
 'abyss',
 '11.00',
 'ac',
 '10.75',
 'acacia',
 '14.25',
 'academe',
 '13.27',
 'academe',
 '13.27',
 'academia',
 '13.74',
 'academic',
 '9.74',
 'academician',
 '15.21',
 'academicism',
 '15.00',
 'academic',
 '9.74',
 'academy',
 '9.05',
 'academy',
 '9.05',
 'acanthus',
 '15.17',
 'accede',
 '14.31',
 'accelerando',
 '14.50',
 'accelerant',
 '12.84',
 'accelerate',
 '10.74',
 'accelerated',
 '10.11',
 'accelerate',
 '10.74',
 'accelerate',
 '10.74',
 'acceleration',
 '9.84',
 'accelerator',
 '10.27',
 'accelerator',
 '10.27',
 'accent',
 '8.60',
 'accent',
 '8.60',
 'accent',
 '8.60',
 'accentuate',
 '13.24',
 'accentuate',
 '13.24',
 'accentuate',
 '13.24',
 'accept',
 '6.74',
 'acceptable',
 '9.84',
 'acceptance',
 '8.56',
 'acceptance',
 '8.56',
 'acceptant',
 '11.89',
 'accept',
 '6.74',
 'accept',
 '6.74',
 'accept',
 '6.74',
 'access',
 '9.10',
 'access',
 '9.10',
 'access',
 '9.10',
 'accessibility',
 '11.05',
 'accessible',
 '9.94',
 'access',
 '9.10',
 'accession',
 '12.25',
 'accessory',
 '11.15',
 'accessorize',
 '11.39',
 'accessorize',
 '11.39',
 'accessorize',
 '11.39',
 'accessory',
 '11.15',
 'accident',
 '5.30',
 'accidental',
 '6.75',
 'accidental',
 '6.75',
 'accident',
 '5.30',
 'acclaim',
 '12.11',
 'acclaim',
 '12.11',
 'acclamation',
 '14.00',
 'acclimate',
 '14.24',
 'acclimate',
 '14.24',
 'acclimate',
 '14.24',
 'acclimatization',
 '16.12',
 'acclimatize',
 '14.00',
 'accolade',
 '12.43',
 'accolade',
 '12.43',
 'accommodate',
 '9.90',
 'accommodate',
 '9.90',
 'accommodate',
 '9.90',
 'accommodate',
 '9.90',
 'accommodation',
 '9.58',
 'accommodation',
 '9.58',
 'accommodative',
 '15.18',
 'accompany',
 '10.75',
 'accompany',
 '10.75',
 'accompaniment',
 '11.18',
 'accompanist',
 '12.78',
 'accompanist',
 '12.78',
 'accompany',
 '10.75',
 'accompany',
 '10.75',
 'accomplice',
 '9.78',
 'accomplice',
 '9.78',
 'accomplish',
 '7.84',
 'accomplish',
 '7.84',
 'accomplish',
 '7.84',
 'accomplish',
 '7.84',
 'accomplishment',
 '9.00',
 'accomplishment',
 '9.00',
 'accord',
 '9.65',
 'accordance',
 '11.75',
 'accord',
 '9.65',
 'according',
 '8.45',
 'accordion',
 '8.61',
 'accordion',
 '8.61',
 'accord',
 '9.65',
 'accost',
 '13.37',
 'accost',
 '13.37',
 'accost',
 '13.37',
 'account',
 '8.26',
 'accountability',
 '12.16',
 'accountable',
 '11.70',
 'accountancy',
 '14.80',
 'accountant',
 '11.67',
 'accountant',
 '11.67',
 'account',
 '8.26',
 'accounting',
 '12.05',
 'account',
 '8.26',
 'accoutrement',
 '13.87',
 'accoutrement',
 '13.87',
 'accreditation',
 '15.53',
 'accredited',
 '13.89',
 'accrete',
 '14.00',
 'accrual',
 '15.00',
 'accrue',
 '14.11',
 'accrue',
 '14.11',
 'accrue',
 '14.11',
 'accumulate',
 '12.30',
 'accumulate',
 '12.30',
 'accumulate',
 '12.30',
 'accumulate',
 '12.30',
 'accumulation',
 '10.50',
 'accumulation',
 '10.50',
 'accumulative',
 '12.50',
 'accumulator',
 '13.94',
 'accuracy',
 '9.71',
 'accurate',
 '9.44',
 'accursed',
 '12.71',
 'accusation',
 '10.17',
 'accusation',
 '10.17',
 'accusative',
 '13.33',
 'accusatory',
 '11.18',
 'accuse',
 '9.10',
 'accuse',
 '9.10',
 'accuser',
 '11.72',
 'accuser',
 '11.72',
 'accuse',
 '9.10',
 'accuse',
 '9.10',
 'accustom',
 '12.00',
 'ace',
 '8.83',
 'ace',
 '8.83',
 'acerb',
 '15.67',
 'acerbic',
 '16.62',
 'acerbity',
 '15.75',
 'ace',
 '8.83',
 'acetaminophen',
 '13.47',
 'acetate',
 '12.85',
 'acetate',
 '12.85',
 'acetic',
 '13.75',
 'acetone',
 '14.05',
 'acetyl',
 '16.31',
 'acetylcholine',
 '16.30',
 'acetylene',
 '16.88',
 'acetylsalicylic',
 '17.71',
 'ache',
 '5.79',
 'ache',
 '5.79',
 'ache',
 '5.79',
 'achievable',
 '9.89',
 'achieve',
 '8.53',
 'achieve',
 '8.53',
 'achievement',
 '8.80',
 'achievement',
 '8.80',
 'achiever',
 '9.11',
 'achiever',
 '9.11',
 'achieve',
 '8.53',
 'achieve',
 '8.53',
 'achiness',
 '10.11',
 'achy',
 '8.06',
 'acid',
 '9.60',
 'acidic',
 '11.21',
 'acidity',
 '12.78',
 'acidophilus',
 '17.40',
 'acidosis',
 '16.85',
 'acid',
 '9.60',
 'acidulous',
 '15.43',
 'ace',
 '8.83',
 'acknowledge',
 '9.11',
 'acknowledge',
 '9.11',
 'acknowledgement',
 '9.95',
 'acknowledgement',
 '9.95',
 'acknowledge',
 '9.11',
 'acknowledge',
 '9.11',
 'acknowledgement',
 '9.95',
 'acknowledgement',
 '9.95',
 'acme',
 '9.54',
 'acne',
 '11.40',
 'acne',
 '11.40',
 'acolyte',
 '13.77',
 'acolyte',
 '13.77',
 'aconitum',
 '11.00',
 'acorn',
 '5.95',
 'acorn',
 '5.95',
 'acoustic',
 '12.39',
 'acoustical',
 '12.90',
 'acoustics',
 '11.32',
 'achiever',
 '9.11',
 'acquaintance',
 '10.48',
 'acquaintance',
 '10.48',
 'acquaintanceship',
 '14.18',
 'acquiesce',
 '14.25',
 'acquiesce',
 '14.25',
 'acquiescence',
 '13.61',
 'acquiescent',
 '14.18',
 'acquiesce',
 '14.25',
 'acquire',
 '9.94',
 'acquire',
 '9.94',
 'acquirer',
 '11.79',
 'acquire',
 '9.94',
 'acquire',
 '9.94',
 'acquisition',
 '13.63',
 'acquisition',
 '13.63',
 'acquisitive',
 '14.19',
 'acquisitiveness',
 '14.38',
 'acquit',
 '13.22',
 'acquittal',
 '12.39',
 'acquittal',
 '12.39',
 'acquit',
 '13.22',
 'acquit',
 '13.22',
 'acre',
 '9.80',
 'acreage',
 '13.13',
 'acre',
 '9.80',
 'acrid',
 '14.07',
 'acrimonious',
 '16.30',
 'acrimony',
 '14.75',
 'acrobat',
 '8.05',
 'acrobatic',
 '9.38',
 'acrobatics',
 '9.00',
 'acrobat',
 '8.05',
 'acronym',
 '11.56',
 'acronym',
 '11.56',
 'acrophobia',
 '14.38',
 'acropolis',
 '15.40',
 'across',
 '6.64',
 'acrostic',
 '14.82',
 'acrylic',
 '11.56',
 'act',
 '6.42',
 'act',
 '6.42',
 'act',
 '6.42',
 'actinic',
 '15.62',
 'actinium',
 'NA',
 'action',
 '6.67',
 'actionable',
 '12.50',
 'action',
 '6.67',
 'activate',
 '11.11',
 'activate',
 '11.11',
 'activate',
 '11.11',
 'activate',
 '11.11',
 'activation',
 '9.78',
 'activator',
 '11.50',
 'active',
 '6.53',
 'active',
 '6.53',
 'activism',
 '11.89',
 'activist',
 '11.80',
 'activist',
 '11.80',
 'activity',
 '6.47',
 'activity',
 '6.47',
 'actor',
 '7.17',
 'actor',
 '7.17',
 'actress',
 '6.17',
 'actress',
 '6.17',
 'act',
 '6.42',
 'actual',
 '6.94',
 'actuality',
 '12.38',
 'actuality',
 '12.38',
 'actualization',
 '13.84',
 'actualize',
 '13.61',
 'actually',
 '7.33',
 'actuarial',
 '15.85',
 'actuary',
 '17.27',
 'actuary',
 '17.27',
 'actuation',
 '14.69',
 'actuator',
 '13.71',
 'actuator',
 '13.71',
 'acuity',
 '13.88',
 'acumen',
 '14.44',
 'acupressure',
 '14.44',
 'acupuncture',
 '11.79',
 'acupuncturist',
 '14.61',
 'acupuncturist',
 '14.61',
 'acute',
 '11.60',
 'acuteness',
 '12.95',
 'acyclovir',
 '12.57',
 'ad',
 '8.22',
 'adage',
 '16.21',
 'adage',
 '16.21',
 'adagio',
 '12.62',
 'adamant',
 '14.29',
 'adamantine',
 '15.91',
 'adapt',
 '9.00',
 'adaptability',
 '11.65',
 'adaptable',
 '9.37',
 'adaptation',
 '11.39',
 'adaptation',
 '11.39',
 'adapt',
 '9.00',
 'adapter',
 '11.79',
 'adapt',
 '9.00',
 'adaption',
 '12.40',
 ...]

In [255]:
AoAVConv

{'a': '2.89',
 'aardvark': '9.89',
 'abacus': '8.69',
 'abalone': '12.23',
 'abandon': '8.32',
 'abandoner': '11.89',
 'abandonment': '10.27',
 'abase': '14.57',
 'abasement': '15.13',
 'abate': '14.44',
 'abatement': '15.12',
 'abattoir': '15.17',
 'abbacy': '14.50',
 'abbess': '15.43',
 'abbey': '13.06',
 'abbot': '12.10',
 'abbreviate': '9.95',
 'abbreviated': '10.50',
 'abbreviation': '9.11',
 'abdicate': '12.60',
 'abdication': '14.94',
 'abdomen': '8.61',
 'abdominal': '10.24',
 'abduct': '11.26',
 'abduction': '11.94',
 'abductor': '11.11',
 'abeam': '13.40',
 'aberrant': '13.31',
 'aberration': '12.69',
 'abet': '12.15',
 'abettor': '15.55',
 'abeyance': '15.00',
 'abhor': '13.76',
 'abhorrent': '12.14',
 'abide': '9.50',
 'abiding': '10.30',
 'ability': '8.84',
 'abject': '14.00',
 'abjuration': '17.12',
 'abjure': '14.60',
 'ablation': '13.29',
 'ablaze': '10.83',
 'able': '7.79',
 'ablution': '13.64',
 'abnormal': '10.05',
 'abnormality': '11.58',
 'aboard': '8.66',
 'abode': '12.06',
 'abolish': '10.42',
 'abolition': '13.28',
 'abolitionism': '11.78',
 'abolitionist': '12.60',
 'abominable': '8.94',
 'abominate': '15.00',
 'abomination': '11.17',
 'aboriginal': '14.75',
 'aborigine': '12.56',
 'aborning': '13.25',
 'abort': '12.21',
 'abortion': '13.21',
 'abortionist': '15.00',
 'abortive': '13.93',
 'abound': '11.65',
 'about': '5.07',
 'above': '4.55',
 'aboveboard': '13.00',
 'aboveground': '8.05',
 'abovementioned': '14.24',
 'abracadabra': '6.89',
 'abrade': '14.00',
 'abrasion': '11.95',
 'abrasive': '12.22',
 'abrasiveness': '12.06',
 'abreaction': '15.80',
 'abreast': '13.06',
 'abridge': '14.35',
 'abridged': '12.56',
 'abridgement': '12.32',
 'abroad': '10.15',
 'abrogate': '15.22',
 'abrupt': '10.95',
 'abruption': '11.82',
 'abruptness': '12.39',
 'abscess': '13.11',
 'abscond': '13.36',
 'absconder': '16.62',
 'absence': '7.70',
 'absent': '6.50',
 'absentee': '11.00',
 'absenteeism': '13.43',
 'absentminded': '10.84',
 'absentmindedness': '9.61',
 'absinthe': '16.29',
 'absolute': '8.53',
 'absolutely': '7.08',
 'absoluteness': '12.68',
 'absolution': '11.71',
 'absolve': '12.90',
 'absolver': '13.60',
 'absorb': '8.83',
 'absorbent': '10.32',
 'absorber': '10.33',
 'absorption': '10.94',
 'abstain': '12.95',
 'abstention': '15.19',
 'abstinence': '12.74',
 'abstract': '11.47',
 'abstraction': '13.65',
 'abstractionist': '14.72',
 'abstruse': '14.60',
 'absurd': '10.50',
 'absurdist': '13.00',
 'absurdity': '13.21',
 'abundance': '10.45',
 'abundant': '12.84',
 'abuse': '8.61',
 'abuser': '9.94',
 'abusive': '9.58',
 'abusiveness': '10.47',
 'abut': '13.11',
 'abutment': '15.33',
 'abuzz': '13.00',
 'abysm': '15.25',
 'abysmal': '13.78',
 'abyss': '11.00',
 'abyssal': '17.27',
 'ac': '10.75',
 'acacia': '14.25',
 'academe': '13.27',
 'academia': '13.74',
 'academic': '9.74',
 'academician': '15.21',
 'academicism': '15.00',
 'academy': '9.05',
 'acanthus': '15.17',
 'accede': '14.31',
 'accelerando': '14.50',
 'accelerant': '12.84',
 'accelerate': '10.74',
 'accelerated': '10.11',
 'acceleration': '9.84',
 'accelerator': '10.27',
 'accent': '8.60',
 'accentuate': '13.24',
 'accept': '6.74',
 'acceptable': '9.84',
 'acceptance': '8.56',
 'acceptant': '11.89',
 'access': '9.10',
 'accessibility': '11.05',
 'accessible': '9.94',
 'accession': '12.25',
 'accessory': '11.15',
 'accessorize': '11.39',
 'accident': '5.30',
 'accidental': '6.75',
 'acclaim': '12.11',
 'acclamation': '14.00',
 'acclimate': '14.24',
 'acclimatization': '16.12',
 'acclimatize': '14.00',
 'accolade': '12.43',
 'accommodate': '9.90',
 'accommodation': '9.58',
 'accommodative': '15.18',
 'accompany': '10.75',
 'accompaniment': '11.18',
 'accompanist': '12.78',
 'accomplice': '9.78',
 'accomplish': '7.84',
 'accomplishment': '9.00',
 'accord': '9.65',
 'accordance': '11.75',
 'according': '8.45',
 'accordion': '8.61',
 'accost': '13.37',
 'account': '8.26',
 'accountability': '12.16',
 'accountable': '11.70',
 'accountancy': '14.80',
 'accountant': '11.67',
 'accounting': '12.05',
 'accoutrement': '13.87',
 'accreditation': '15.53',
 'accredited': '13.89',
 'accrete': '14.00',
 'accrual': '15.00',
 'accrue': '14.11',
 'accumulate': '12.30',
 'accumulation': '10.50',
 'accumulative': '12.50',
 'accumulator': '13.94',
 'accuracy': '9.71',
 'accurate': '9.44',
 'accursed': '12.71',
 'accusation': '10.17',
 'accusative': '13.33',
 'accusatory': '11.18',
 'accuse': '9.10',
 'accuser': '11.72',
 'accustom': '12.00',
 'ace': '8.83',
 'acerb': '15.67',
 'acerbic': '16.62',
 'acerbity': '15.75',
 'acetaminophen': '13.47',
 'acetate': '12.85',
 'acetic': '13.75',
 'acetone': '14.05',
 'acetyl': '16.31',
 'acetylcholine': '16.30',
 'acetylene': '16.88',
 'acetylsalicylic': '17.71',
 'ache': '5.79',
 'achievable': '9.89',
 'achieve': '8.53',
 'achievement': '8.80',
 'achiever': '9.11',
 'achiness': '10.11',
 'achy': '8.06',
 'acid': '9.60',
 'acidic': '11.21',
 'acidity': '12.78',
 'acidophilus': '17.40',
 'acidosis': '16.85',
 'acidulous': '15.43',
 'acknowledge': '9.11',
 'acknowledgement': '9.95',
 'acme': '9.54',
 'acne': '11.40',
 'acolyte': '13.77',
 'aconitum': '11.00',
 'acorn': '5.95',
 'acoustic': '12.39',
 'acoustical': '12.90',
 'acoustics': '11.32',
 'acquaintance': '10.48',
 'acquaintanceship': '14.18',
 'acquiesce': '14.25',
 'acquiescence': '13.61',
 'acquiescent': '14.18',
 'acquire': '9.94',
 'acquirer': '11.79',
 'acquisition': '13.63',
 'acquisitive': '14.19',
 'acquisitiveness': '14.38',
 'acquit': '13.22',
 'acquittal': '12.39',
 'acre': '9.80',
 'acreage': '13.13',
 'acrid': '14.07',
 'acrimonious': '16.30',
 'acrimony': '14.75',
 'acrobat': '8.05',
 'acrobatic': '9.38',
 'acrobatics': '9.00',
 'acronym': '11.56',
 'acrophobia': '14.38',
 'acropolis': '15.40',
 'across': '6.64',
 'acrostic': '14.82',
 'acrylic': '11.56',
 'act': '6.42',
 'actinic': '15.62',
 'actinium': 'NA',
 'action': '6.67',
 'actionable': '12.50',
 'activate': '11.11',
 'activation': '9.78',
 'activator': '11.50',
 'active': '6.53',
 'activism': '11.89',
 'activist': '11.80',
 'activity': '6.47',
 'actor': '7.17',
 'actress': '6.17',
 'actual': '6.94',
 'actuality': '12.38',
 'actualization': '13.84',
 'actualize': '13.61',
 'actually': '7.33',
 'actuarial': '15.85',
 'actuary': '17.27',
 'actuation': '14.69',
 'actuator': '13.71',
 'acuity': '13.88',
 'acumen': '14.44',
 'acupressure': '14.44',
 'acupuncture': '11.79',
 'acupuncturist': '14.61',
 'acute': '11.60',
 'acuteness': '12.95',
 'acyclovir': '12.57',
 'ad': '8.22',
 'adage': '16.21',
 'adagio': '12.62',
 'adamant': '14.29',
 'adamantine': '15.91',
 'adapt': '9.00',
 'adaptability': '11.65',
 'adaptable': '9.37',
 'adaptation': '11.39',
 'adapter': '11.79',
 'adaption': '12.40',
 'adaptive': '11.33',
 'adaptor': '10.21',
 'add': '5.10',
 'addendum': '15.65',
 'adder': '12.13',
 'addict': '11.17',
 'addiction': '12.11',
 'addictive': '10.33',
 'addictiveness': '11.61',
 'addition': '5.76',
 'additional': '9.00',
 'additive': '12.28',
 'addle': '13.08',
 'addled': '12.00',
 'address': '5.15',
 'addressee': '9.95',
 'adduce': '13.00',
 'adductor': '14.18',
 'adenoidal': '15.33',
 'adenoma': '13.78',
 'adenosine': '16.29',
 'adept': '12.50',
 'adeptness': '14.37',
 'adequacy': '12.50',
 'adequate': '10.35',
 'adhere': '10.78',
 'adherence': '12.22',
 'adherent': '14.17',
 'adhesion': '13.50',
 'adhesive': '9.17',
 'adiabatic': '18.50',
 'adipose': '15.70',
 'adiposity': '15.86',
 'adjacent': '11.05',
 'adjective': '8.60',
 'adjoining': '11.85',
 'adjourn': '12.59',
 'adjournment': '14.26',
 'adjudge': '15.20',
 'adjudicate': '15.25',
 'adjudication': '16.33',
 'adjudicator': '16.47',
 'adjunct': '13.06',
 'adjuration': '16.00',
 'adjure': '13.10',
 'adjust': '8.43',
 'adjustability': '12.05',
 'adjustable': '8.95',
 'adjuster': '11.28',
 'adjustment': '9.74',
 'adjustor': '13.29',
 'adjutant': '13.91',
 'adjuvant': '14.25',
 'admin': '13.89',
 'administer': '9.42',
 'administrate': '12.50',
 'administration': '11.11',
 'administrative': '11.50',
 'administrator': '12.22',
 'admirable': '11.42',
 'admiral': '8.72',
 'admiralty': '11.41',
 'admiration': '8.95',
 'admire': '7.42',
 'admirer': '8.78',
 'admissibility': '13.79',
 'admissible': '13.10',
 'admission': '8.84',
 'admit': '7.56',
 'admittance': '10.39',
 'admixture': '14.10',
 'admonish': '13.40',
 'admonition': '13.86',
 'ado': '11.88',
 'adobe': '12.22',
 'adolescence': '10.42',
 'adolescent': '11.05',
 'adopt': '7.83',
 'adoptable': '9.22',
 'adopter': '10.16',
 'adoption': '7.79',
 'adoptive': '9.16',
 'adorability': '11.76',
 'adorable': '6.94',
 'adorableness': '8.32',
 'adoration': '11.80',
 'adore': '7.95',
 'adoring': '8.53',
 'adorn': '11.65',
 'adornment': '12.32',
 'adrenal': '14.24',
 'adrenalin': '11.65',
 'adrenaline': '11.63',
 'adrift': '11.21',
 'adroit': '12.75',
 'adroitness': '15.21',
 'adulation': '12.72',
 'adult': '4.68',
 'adulterant': '12.86',
 'adulterate': '13.76',
 'adulterer': '11.63',
 'adulteress': '12.22',
 'adulterous': '11.65',
 'adultery': '11.84',
 'adulthood': '9.95',
 'adumbration': '16.50',
 'advance': '8.35',
 'advanced': '9.05',
 'advancement': '10.89',
 'advantage': '9.32',
 'advantageous': '12.62',
 'advent': '10.38',
 'adventure': '5.67',
 'adventurer': '7.79',
 'adventuresome': '10.38',
 'adventuress': '10.44',
 'adventurist': '8.68',
 'adventurous': '10.00',
 'adventurousness': '11.81',
 'adverb': '8.14',
 'adverbial': '13.14',
 'adversarial': '14.00',
 'adversary': '12.67',
 'adverse': '10.72',
 'adversity': '11.79',
 'advert': '14.22',
 'advertise': '9.63',
 'advertisement': '7.67',
 'advertiser': '11.00',
 'advertising': '9.95',
 'advice': '8.61',
 'advisable': '10.75',
 'advise': '8.89',
 'advisee': '12.89',
 'advisement': '12.50',
 'adviser': '10.78',
 'advisor': '11.24',
 'advisory': '11.55',
 'advocacy': '14.06',
 'advocate': '11.11',
 'aegis': '17.00',
 'aerate': '13.44',
 'aeration': '12.35',
 'aerial': '11.50',
 'aerialist': '14.08',
 'aerie': '13.00',
 'aero': '11.40',
 'aerobatics': '9.53',
 'aerobic': '10.24',
 'aerobics': '11.00',
 'aerodynamic': '13.40',
 'aerodynamics': '11.50',
 'aeronaut': '12.92',
 'aeronautical': '14.35',
 'aeronautics': '12.35',
 'aerosol': '9.47',
 'aerospace': '12.06',
 'aesthete': '14.90',
 'aesthetic': '15.74',
 'aesthetics': '15.06',
 'afar': '8.21',
 'afeard': '10.86',
 'affability': '14.07',
 'affable': '13.40',
 'affair': '10.94',
 'affaire': '11.45',
 'affect': '9.60',
 'affectation': '13.82',
 'affection': '8.53',
 'affectionate': '8.50',
 'affective': '11.74',
 'affectless': '13.60',
 'affiant': '14.00',
 'affidavit': '15.69',
 'affiliate': '12.00',
 'affiliation': '12.28',
 'affinity': '12.22',
 'affirm': '12.24',
 'affirmation': '12.56',
 'affirmative': '10.67',
 'affix': '11.94',
 'afflict': '11.50',
 'affliction': '11.32',
 'afflictive': '14.40',
 'affluence': '13.88',
 'affluent': '13.16',
 'afford': '7.47',
 'affordability': '10.89',
 'affordable': '8.15',
 'affray': '13.00',
 'affright': '12.77',
 'affront': '12.44',
 'afghan': '9.11',
 'Afghan': '9.11',
 'aficionado': '13.86',
 'afire': '11.87',
 'aflame': '11.22',
 'afloat': '9.33',
 'afoot': '11.48',
 'aforementioned': '14.58',
 'aforesaid': '14.44',
 'aforethought': '13.72',
 'afoul': '11.81',
 'afraid': '4.42',
 'afro': '9.58',
 'Afro': '9.58',
 'aft': '13.88',
 'after': '6.00',
 'afterbirth': '14.06',
 'afterburner': '10.69',
 'aftercare': '11.62',
 'afterdeck': '15.86',
 'aftereffect': '12.06',
 'afterglow': '12.53',
 'afterimage': '13.67',
 'afterlife': '8.11',
 'aftermarket': '14.20',
 'aftermath': '12.05',
 'afternoon': '4.65',
 'afterschool': '6.89',
 'aftershave': '10.42',
 'aftershock': '10.33',
 'aftertaste': '10.00',
 'afterthought': '12.78',
 'afterwards': '7.71',
 'afterworld': '10.41',
 'again': '5.78',
 'against': '7.97',
 'agate': '13.00',
 'agave': '14.57',
 'age': '4.38',
 'ageism': '17.07',
 'ageist': '15.79',
 'ageless': '10.30',
 'agency': '10.58',
 'agenda': '9.95',
 'agent': '9.55',
 'ageratum': '13.29',
 'agglomerate': '15.67',
 'agglutinate': '14.89',
 'aggrandize': '14.83',
 'aggrandizement': '14.75',
 'aggravate': '8.32',
 'aggravated': '8.61',
 'aggravation': '9.11',
 'aggregate': '13.67',
 'aggregation': '14.56',
 'aggress': '12.13',
 'aggression': '9.30',
 'aggressive': '8.32',
 'aggressiveness': '11.06',
 'aggressor': '11.47',
 'aggrieved': '12.38',
 'aghast': '12.00',
 'agile': '11.94',
 'agility': '10.06',
 'aging': '7.35',
 'agitate': '10.17',
 'agitated': '10.12',
 'agitation': '11.50',
 'agitator': '11.84',
 'agitprop': '16.60',
 'agleam': '14.71',
 'aglitter': '13.67',
 'aglow': '10.06',
 'agnate': '16.50',
 'agnostic': '13.80',
 'ago': '7.12',
 'agog': '14.73',
 'agony': '9.22',
 'agonist': '15.06',
 'agonize': '11.58',
 'agonizing': '10.89',
 'agora': '13.73',
 'agoraphobia': '14.44',
 'agoraphobic': '14.64',
 'agrarian': '14.83',
 'agree': '7.68',
 'agreeable': '8.41',
 'agreement': '8.16',
 'agribusiness': '18.07',
 'agricultural': '10.11',
 'agriculturalist': '12.78',
 'agriculture': '10.32',
 'ague': '15.20',
 'ahead': '5.45',
 'ahoy': '7.61',
 'aid': '7.33',
 'aide': '7.83',
 'aider': '12.92',
 'aids': '8.89',
 'aigrette': '15.00',
 'aikido': '14.08',
 'ail': '9.71',
 'aileron': '14.71',
 'ailing': '10.63',
 'ailment': '10.37',
 'aim': '6.72',
 'aimer': '9.85',
 'aimless': '10.32',
 'air': '3.94',
 'airbag': '12.26',
 'airbase': '10.35',
 'airboat': '10.75',
 'airborne': '9.85',
 'airbrush': '12.06',
 'aircraft': '7.61',
 'aircraftsman': '11.67',
 'aircrew': '10.15',
 'airdrome': '15.11',
 'airdrop': '9.18',
 'airfare': '10.26',
 'airfield': '8.60',
 'airflow': '12.42',
 'airfoil': '14.64',
 'airforce': '6.83',
 'airhead': '10.17',
 'airiness': '11.35',
 'airless': '10.00',
 'airlift': '12.06',
 'airline': '8.74',
 'airliner': '9.89',
 'airlock': '11.61',
 'airmail': '12.00',
 'airman': '10.58',
 'airmattress': '9.37',
 'airmobile': '12.69',
 'airplane': '3.94',
 'airplay': '12.93',
 'airport': '6.84',
 'airship': '10.80',
 'airsick': '11.47',
 'airsickness': '10.17',
 'airspace': '11.50',
 'airspeed': '10.90',
 'airstream': '12.22',
 'airstrike': '12.78',
 'airstrip': '8.16',
 'airtight': '9.84',
 'airtime': '11.78',
 'airwave': '11.35',
 'airway': '11.16',
 'airworthy': '13.31',
 'airy': '10.28',
 'aisle': '5.95',
 'ajar': '9.67',
 'aka': '10.94',
 'akimbo': '14.09',
 'akin': '12.67',
 'alabaster': '13.67',
 'alacrity': '15.25',
 'alarm': '6.39',
 'alarmclock': '5.80',
 'alarming': '9.78',
 'alarmist': '13.12',
 'alarum': '12.38',
 'alas': '9.78',
 'albacore': '14.47',
 'albatross': '11.64',
 'albinism': '14.17',
 'albino': '9.79',
 'album': '6.72',
 'albumen': '15.45',
 'albumin': '14.20',
 'alcalde': '11.00',
 'alchemical': '15.64',
 'alchemist': '12.00',
 'alchemy': '13.35',
 'alcohol': '9.00',
 'alcoholic': '9.95',
 'alcoholism': '11.60',
 'alcove': '12.11',
 'alder': '14.08',
 'alderman': '14.19',
 'ale': '10.16',
 'alehouse': '13.76',
 'aleph': '13.70',
 'alert': '8.90',
 'alertness': '9.44',
 'alexandrine': '14.17',
 'alfalfa': '8.83',
 'alfresco': '15.29',
 'alga': '13.33',
 'algebra': '11.47',
 'algebraic': '11.11',
 'alginate': '14.86',
 'algorithm': '14.56',
 'algorithmic': '15.31',
 'alias': '9.47',
 'alibi': '12.50',
 'alien': '7.50',
 'alienate': '13.05',
 'alienation': '13.47',
 'alienist': '14.07',
 'aliens': '8.58',
 'alight': '11.41',
 'align': '9.85',
 'alignment': '11.76',
 'alike': '6.12',
 'alimentary': '13.21',
 'alimony': '14.47',
 'alit': '12.69',
 'alive': '5.11',
 'alkali': '14.35',
 'alkaline': '13.68',
 'alkaloid': '14.06',
 'alky': '14.18',
 'alkyd': '16.62',
 'all': '4.24',
 'allay': '15.77',
 'allegation': '11.84',
 'allege': '12.81',
 'alleged': '12.05',
 'allegiance': '8.42',
 'allegiant': '15.18',
 'allegorical': '12.41',
 'allegory': '14.16',
 'allegro': '13.07',
 'allele': '14.50',
 'allergen': '11.58',
 'allergic': '7.72',
 'allergy': '8.11',
 'allergist': '12.21',
 'alleviate': '11.39',
 'alley': '7.26',
 'alleyway': '8.11',
 'alliance': '11.28',
 'allied': '10.85',
 'ally': '9.61',
 'alligator': '4.78',
 'alliteration': '13.86',
 'alliterative': '15.25',
 'allocate': '13.78',
 'allocation': '12.42',
 'allocution': '15.23',
 'allograft': '15.20',
 'allot': '13.67',
 'allotment': '13.28',
 'allow': '5.32',
 'allowable': '9.56',
 'allowance': '6.95',
 'alloy': '14.53',
 'allude': '13.11',
 'allure': '11.83',
 'alluring': '12.89',
 'allusion': '13.05',
 'alluvial': '16.78',
 'almanac': '10.58',
 'almandine': '17.22',
 'almightiness': '8.89',
 'almighty': '8.47',
 'almond': '7.67',
 'almoner': '13.00',
 'almost': '5.47',
 'alms': '9.91',
 'almshouse': '17.80',
 'aloe': '8.95',
 'aloft': '9.82',
 'aloha': '10.15',
 'alone': '4.94',
 'aloneness': '9.06',
 'along': '5.41',
 'alongshore': '11.60',
 'aloof': '13.41',
 'alopecia': '17.92',
 'aloud': '6.22',
 'alp': '11.77',
 'alpaca': '10.81',
 'alpha': '12.22',
 'alphabet': '4.22',
 'alphabetical': '6.26',
 'alphabetize': '7.11',
 'alphanumeric': '13.00',
 'alphorn': '15.00',
 'alpine': '11.28',
 'alright': '6.28',
 'also': '6.64',
 'altar': '7.16',
 'altarpiece': '11.21',
 'alter': '9.47',
 'alteration': '10.17',
 'altercation': '11.67',
 'alternate': '8.83',
 'alternating': '12.00',
 'alternation': '12.32',
 'alternative': '10.11',
 'alternator': '11.32',
 'although': '8.08',
 'altimeter': '14.13',
 'altitude': '9.58',
 'alto': '10.19',
 'altogether': '8.35',
 'altruism': '15.79',
 'altruist': '15.50',
 'altruistic': '13.80',
 'alum': '13.06',
 'alumina': '11.78',
 'aluminum': '7.26',
 'alumna': '14.00',
 'alumnus': '14.00',
 'alveolar': '15.00',
 'alveolus': '14.50',
 'always': '6.26',
 'be': '5.11',
 'amah': '14.00',
 'amalgam': '15.25',
 'amalgamated': '15.07',
 'amalgamation': '16.92',
 'amandine': '15.29',
 'amanita': '15.50',
 'amanuensis': '12.00',
 'amaranth': '15.73',
 'amaretto': '14.63',
 'amaryllis': '15.36',
 'amass': '12.00',
 'amassment': '14.75',
 'amateur': '10.53',
 'amateurish': '12.57',
 'amateurism': '12.88',
 'amaze': '7.50',
 'amazed': '7.17',
 'amazement': '9.22',
 'amazing': '5.22',
 'ambassador': '11.00',
 'ambassadorial': '12.69',
 'ambassadorship': '13.45',
 'amber': '9.28',
 'ambergris': '17.50',
 'ambiance': '14.78',
 'ambidextrous': '11.84',
 'ambience': '13.28',
 'ambient': '12.80',
 'ambiguity': '14.06',
 'ambiguous': '13.67',
 'ambition': '11.29',
 'ambitious': '11.05',
 'ambivalence': '13.37',
 'ambivalent': '12.12',
 'amble': '11.87',
 'ambrosia': '13.82',
 'ambrosial': '17.12',
 'ambulance': '6.16',
 'ambulation': '15.36',
 'ambulatory': '12.59',
 'ambuscade': 'NA',
 'ambush': '9.30',
 'amoeba': '12.65',
 'amoebic': '13.68',
 'ameliorate': '13.67',
 'amelioration': '16.25',
 'amen': '5.80',
 'amenable': '14.14',
 'amend': '11.39',
 'amendment': '10.06',
 'amends': '10.16',
 'americanize': '12.44',
 'amethyst': '12.22',
 'amiability': '13.25',
 'amiable': '13.11',
 'amicable': '12.95',
 'amice': '12.14',
 'amicus': '15.40',
 'amid': '11.45',
 'amidst': '10.44',
 'amino': '13.78',
 'amiss': '11.34',
 'amity': '13.14',
 'ammeter': '16.83',
 'ammo': '8.11',
 'ammonia': '11.00',
 'ammonium': '12.35',
 'ammunition': '9.67',
 'amnesia': '10.61',
 'amnesiac': '12.64',
 'amnesic': '13.67',
 'amnesty': '12.95',
 'amniocentesis': '14.38',
 'amniotic': '13.86',
 'among': '7.75',
 'amongst': '9.01',
 'amontillado': '14.43',
 'amoral': '11.70',
 'amorality': '15.00',
 'amorous': '13.71',
 'amorphous': '14.75',
 'amortization': '17.33',
 'amortize': '15.88',
 'amount': '6.63',
 'amour': '12.67',
 'amp': '12.11',
 'amperage': '12.07',
 'ampersand': '13.20',
 'amphetamine': '15.53',
 'amphibian': '8.33',
 'amphibious': '10.88',
 'amphitheater': '11.84',
 'amphora': '15.44',
 'ample': '11.63',
 'amplification': '11.40',
 'amplify': '12.06',
 'amplifier': '11.35',
 'amplitude': '12.44',
 'amputate': '9.60',
 'amputation': '11.89',
 'amputee': '11.00',
 'amuck': '11.18',
 'amulet': '11.53',
 'amuse': '9.00',
 'amused': '7.83',
 'amusement': '8.79',
 'amusing': '8.44',
 'amyl': '15.67',
 'amylase': '18.20',

In [256]:
Vocab.shape

(4746, 7)

In [257]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity'],
      dtype='object')

# Sven Features

In this block of code we load the list of commonly searched for terms used by children as established in the Is Sven Seven data set, and then determines the ratio of those terms occuring in each query. #--- from thesis: children tend to use different vocabulary than adults when searching therefore we count the occurrence of words per  query found in the most common words found in children's websites from the Sven Children dictionary dataset ---

In [258]:
# looking into the data that we are loading 
svendict = pd.read_csv('DataSets/Sven/ChildrenDict.tsv', sep = '\t')
svendict.head()

   1 family  71289
0  2  story  43562
1  3   life  29678
2  4      �  26454
3  5   trtd  20449
4  6   love  19698

In [259]:
SVENwords = []
st = WordNetLemmatizer()
with open('DataSets/Sven/ChildrenDict.tsv') as csvFile:
    csvReader = csv.reader(csvFile, delimiter = '\t')
    lineCount = 0
    for row in csvReader:
#         print(row)
        if lineCount == 0:
            lineCount +=1
        else:
            SVENwords.append((row[1]))
            
SVENcount = []
with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        vocab = []
        countWord = 0
        wordCount = 0
        for word in query.split(' '):
#             print(word)
            wordCount +=1
            if word in SVENwords:
                countWord +=1

        SVENcount.append(countWord/wordCount)
        pbar.update()
        
Vocab['SVEN'] = SVENcount

100%|██████████| 4746/4746 [00:04<00:00, 1042.33it/s]

In [260]:
Vocab.shape

(4746, 8)

In [261]:
len(SVENcount)

4746

## Concrete/Abstract

In [262]:
word_concreteness = pickle.load( open( "DataSets/word_concreteness.p", "rb" ) )

In [408]:
pwd

'/Users/assoumerredempta/Documents/aSpring_2023/RYSe_Final/FeatureExtraction'

In [263]:
word_concreteness['word']=word_concreteness['word'].str.lower()

In [264]:
# abstractWords = word_concreteness.loc[word_concreteness['label']=='abstract', 'word']
# concreteWords = word_concreteness.loc[word_concreteness['label']=='concrete', 'word']

In [393]:

aw = word_concreteness[word_concreteness['label']=='abstract']
cw = word_concreteness[word_concreteness['label']=='concrete']

abW = []
coW = []
for w_a in aw['word']:
    abW.append(w_a)
for w_c in cw['word']:
    coW.append(w_c)

absrtCount = []
concCount = []
with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
#         vocab = []
        a_countWord = 0
        c_countWord = 0
        wordCount = 0
        for word in query.split(' '):
            word.lower()
#             print(word)
            wordCount +=1
            if word in abW:
                a_countWord +=1
            if word in coW:
                c_countWord +=1

        absrtCount.append(a_countWord/wordCount)
        concCount.append(c_countWord/wordCount)
        pbar.update()
        
Vocab['ratioAbs'] = absrtCount
Vocab['ratioConc'] = concCount

100%|██████████| 4746/4746 [00:04<00:00, 952.74it/s]

In [ ]:
# save abs and con

In [403]:
aC =  absrtCount.copy()
cC = concCount.copy()

In [409]:
dt = {'ratioAbs': aC,
      'ratioConc': cC}
abs_conc = pd.DataFrame(dt)
# abs_conc.to_csv('abs_conc.csv')

pickle.dump(abs_conc, open( "Pickles/4746Abs_concFeat.p", "wb" ) )

In [405]:
pwd

'/Users/assoumerredempta/Documents/aSpring_2023/RYSe_Final/FeatureExtraction'

In [394]:
Vocab

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,com,net,org,edu,gov,http,AND,OR,quotes,inter
0,0.50,US civil war causes,0.50,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0,0,0,0,0,0,0,0,0,0
1,0.00,scooter brands,1.00,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0,0,0,0,0,0,0,0,0,0
2,0.00,scooter brands reliable,1.00,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0,0,0,0,0,0,0,0,0,0
3,0.00,scooter,1.00,6.68,6.68,1.00,6.680000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
4,0.00,scooter cheap,1.00,6.68,7.11,1.00,6.895000,1.000000,0.500000,0.500000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,1.00,House of dreams,0.00,3.16,4.88,1.00,4.196667,0.333333,0.333333,0.000000,...,0,0,0,0,0,0,0,0,0,0
4742,0.50,When did Desmond doss get married,0.50,0.00,5.16,0.50,2.095000,0.333333,0.500000,0.000000,...,0,0,0,0,0,0,0,0,0,1
4743,0.00,H,1.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
4744,0.75,find fact about dog,0.25,2.80,6.47,1.00,5.030000,0.500000,0.750000,0.250000,...,0,0,0,0,0,0,0,0,0,0
4745,1.00,kid,0.00,4.28,4.28,1.00,4.280000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0

# Top Stereotype Uni-Grams

In this block of code we take 80% of the sessions generated by users who belong to our stereotype, extract the 250 most common word uni-grams found in that sample, and then calculate the number of those words found in each query as well as the antecedent and the consequent ratio of words per query that are found in the top 250.

In [268]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 1]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
allSessions = allSessions[allSessions['class'] == 1]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()

text = ''

for query in queries:
    text += query.lower() + " "
    
queryWords = text.split()

resultWords  = [word for word in queryWords if word.lower() not in stopwords]
text = ' '.join(resultWords)
text = text.split(' ')
fdist1 = nltk.FreqDist(text)
top250 = []

for x in fdist1.most_common(250):
    top250.append(x[0])
    
top250count = []
top250avg = []
with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        vocab = []
        countWord = 0
        wordCount = 0
        for word in query.split(' '):
            wordCount +=1
            if word in top250:
                countWord +=1
            else:
                pass
        top250count.append(countWord)
        top250avg.append(countWord/wordCount)
        pbar.update()


Vocab['top250SterCount'] = top250count
Vocab['top250SterRatAnt'] = top250avg
Vocab['top250SterRatCon'] = 1-Vocab['top250SterRatAnt']

100%|██████████| 4746/4746 [00:00<00:00, 88243.20it/s]

In [269]:
allSessions

                                  query  class   sID
3797  why is idaho called the gem state      1  5179
3799                  a famos mathution      1  8600
3801    Victorea stillwells Big moments      1  6411
3802           Information about tigers      1  9041
3803                            science      1  8574
...                                 ...    ...   ...
4740            Kids facts about Norway      1  7234
4741                    House of dreams      1  5975
4742  When did Desmond doss get married      1  5233
4743                                  H      1  7864
4744                find fact about dog      1  5316

[759 rows x 3 columns]

In [270]:
Vocab.shape

(4746, 13)

In [271]:
# len(queries)

In [272]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon'],
      dtype='object')

# Top Non-Stereotype Uni-Grams

In this block of code we take 80% of the sessions generated by users who do not belong to our stereotype, extract the 250 most common word uni-grams found in that sample, and then calculate the number of those words found in each query as well as the antecedent and the consequent ratio of words per query that are found in the top 250.

In [273]:
# n-grams: once of ways helping machines understand the a word and it's contex

In [274]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 0]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
allSessions = allSessions[allSessions['class'] == 0]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()



text = ''

for query in queries:
    text += query.lower() + " "
    
queryWords = text.split()

resultWords  = [word for word in queryWords if word.lower() not in stopwords]
text = ' '.join(resultWords)
text = text.split(' ')
fdist1 = nltk.FreqDist(text)
top250 = []

for x in fdist1.most_common(250):
    top250.append(x[0])
    
top250Count = []
top250Avg = []
with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        vocab = []
        countWord = 0
        wordCount = 0
        for word in query.split(' '):
            wordCount +=1
            if word in top250:
                countWord +=1
            else:
                pass
        top250Count.append(countWord)
        top250Avg.append(countWord/wordCount)
        pbar.update()
    
Vocab['top250NonSterCount'] = top250Count
Vocab['top250NonSterRatAnt'] = top250Avg
Vocab['top250NonSterRatCon'] = 1-Vocab['top250NonSterRatAnt']

100%|██████████| 4746/4746 [00:00<00:00, 105130.06it/s]

In [275]:
Vocab.shape

(4746, 16)

In [276]:
# len(queries)

In [277]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon'],
      dtype='object')

In [278]:
Vocab.head(2)

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,top250SterCount,top250SterRatAnt,top250SterRatCon,top250NonSterCount,top250NonSterRatAnt,top250NonSterRatCon
0,0.5,US civil war causes,0.5,0.00,10.89,0.75,6.1,0.5,0.25,0.25,0,0.0,1.0,1,0.25,0.75
1,0.0,scooter brands,1.0,6.68,7.72,1.00,7.2,0.5,0.00,0.50,0,0.0,1.0,1,0.50,0.50

# Top Stereotype Bi-Grams

In this block of code we take 80% of the sessions generated by users who belong to our stereotype, extract the 50 most common word bi-grams found in that sample, and then calculate the number of those words found in each query as well as the antecedent and the consequent ratio of words per query that are found in the top 50.

In [279]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 1]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
allSessions = allSessions[allSessions['class'] == 1]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()


queries2 = []
for query in queries:
    queries2.append(query.lower())
queries = queries2

bigrams = [b for l in queries for b in zip(l.split(" ")[:-1], l.split(" ")[1:])]

fdist1 = nltk.FreqDist(bigrams)

top50 = []

for x in fdist1.most_common(50):
     top50.append(x[0])
        
top50count = []
top50avg = []

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        vocab = []
        countWord = 0
        wordCount = 0
        query = query.lower()
        query = query.split(" ")
        split = nltk.bigrams(query)
        for word in split:
            wordCount +=1
            if word in top50:
                countWord +=1
            else:
                pass
        top50count.append(countWord)
        if wordCount > 0:
            top50avg.append(countWord/wordCount)
        else:
            top50avg.append(0) 
        pbar.update()
        
Vocab['top50SterCount'] = top50count
Vocab['top50SterRatAnt'] = top50avg
Vocab['top50SterAntCon'] = 1-Vocab['top50SterRatAnt']

100%|██████████| 4746/4746 [00:00<00:00, 210297.88it/s]

In [280]:
allSessions

                                        query  class   sID
3797        why is idaho called the gem state      1  5179
3798                                alcoholic      1  9005
3799                        a famos mathution      1  8600
3801          Victorea stillwells Big moments      1  6411
3802                 Information about tigers      1  9041
...                                       ...    ...   ...
4738  How many Star Wars movies will be made?      1  9488
4739                         Mount St. Helens      1  9233
4740                  Kids facts about Norway      1  7234
4742        When did Desmond doss get married      1  5233
4744                      find fact about dog      1  5316

[759 rows x 3 columns]

In [281]:
Vocab.shape

(4746, 19)

In [282]:
# len(queries)

In [283]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon'],
      dtype='object')

# Top Non-Stereotype Bi-Grams

In this block of code we take 80% of the sessions generated by users who do not belong to our stereotype, extract the 50 most common word bi-grams found in that sample, and then calculate the number of those words found in each query as well as the antecedent and the consequent ratio of words per query that are found in the top 50.

In [284]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 0]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
allSessions = allSessions[allSessions['class'] == 0]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()


queries2 = []
for query in queries:
    queries2.append(query.lower())
queries = queries2

bigrams = [b for l in queries for b in zip(l.split(" ")[:-1], l.split(" ")[1:])]

fdist1 = nltk.FreqDist(bigrams)

top50 = []

for x in fdist1.most_common(50):
     top50.append(x[0])
        
top50count = []
top50avg = []

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        vocab = []
        countWord = 0
        wordCount = 0
        query = query.lower()
        query = query.split(" ")
        split = nltk.bigrams(query)
        for word in split:
            wordCount +=1
            if word in top50:
                countWord +=1
            else:
                pass
        top50count.append(countWord)
        if wordCount > 0:
            top50avg.append(countWord/wordCount)
        else:
            top50avg.append(0)
        pbar.update()
        
Vocab['top50NonSterCount'] = top50count
Vocab['top50NonSterRatAnt'] = top50avg
Vocab['top50NonSterAntCon'] = 1-Vocab['top50NonSterRatAnt']

100%|██████████| 4746/4746 [00:00<00:00, 195476.63it/s]

In [285]:
Vocab.shape

(4746, 22)

# TF-IDF All

In the following block of code we take an 80% sample of all sessions found in SWC, and then calculate the TF-IDF values for each all queries with each query in every session seen as an individual document. 

----------**TF-IDF** stands for term frequency-inverse document frequency and it is a measure, used in the fields of information retrieval (IR) and machine learning, that can quantify the importance or relevance of string representations (words, phrases, lemmas, etc) in a document amongst a collection of documents-------

In [286]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()


text = ''
for query in queries:
    text += query + " "

querywords = text.split()

resultwords  = [word for word in querywords if word.lower() not in stopwords]
text = ' '.join(resultwords)

queries = allSessions['query'].tolist()

vectorizer = TfidfVectorizer()
vector = vectorizer.fit(queries)
vectors = vector.transform(allQueries)

listTFIDF = []

with tqdm(total=len(allQueries)) as pbar:
    for m in vectors:
        if(m.sum() != 0):
            listTFIDF.append(m.sum() / m.count_nonzero())
        else:
            listTFIDF.append(-1)
        pbar.update()
        
VocabTFIDFAll = pd.DataFrame(data=listTFIDF, columns = ['tfidfAll']).fillna(-1)
# VocabTFIDFAll['query'] = allQueries
VocabTFIDFAll['qID'] = qID
Vocab['qID'] = qID #-----------------------------------------added
Vocab = pd.merge(Vocab, VocabTFIDFAll, on='qID')
# Vocab = Vocab.merge(VocabTFIDFAll, on = 'query')

100%|██████████| 4746/4746 [00:00<00:00, 12157.67it/s]

In [287]:
# ----------S

In [288]:
VocabTFIDFAll

      tfidfAll   qID
0     0.491051  6352
1     0.704467  8305
2     0.574193  6814
3     1.000000  7688
4     0.706889  6221
...        ...   ...
4741  0.552780  5975
4742  0.405230  5233
4743 -1.000000  7864
4744  0.498821  5316
4745  1.000000  8397

[4746 rows x 2 columns]

In [289]:
Vocab

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,top250NonSterRatAnt,top250NonSterRatCon,top50SterCount,top50SterRatAnt,top50SterAntCon,top50NonSterCount,top50NonSterRatAnt,top50NonSterAntCon,qID,tfidfAll
0,0.50,US civil war causes,0.50,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0.250000,0.750000,0,0.000000,1.000000,0,0.0,1.0,6352,0.491051
1,0.00,scooter brands,1.00,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0.500000,0.500000,0,0.000000,1.000000,0,0.0,1.0,8305,0.704467
2,0.00,scooter brands reliable,1.00,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0.333333,0.666667,0,0.000000,1.000000,0,0.0,1.0,6814,0.574193
3,0.00,scooter,1.00,6.68,6.68,1.00,6.680000,1.000000,0.000000,1.000000,...,1.000000,0.000000,0,0.000000,1.000000,0,0.0,1.0,7688,1.000000
4,0.00,scooter cheap,1.00,6.68,7.11,1.00,6.895000,1.000000,0.500000,0.500000,...,1.000000,0.000000,0,0.000000,1.000000,0,0.0,1.0,6221,0.706889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,1.00,House of dreams,0.00,3.16,4.88,1.00,4.196667,0.333333,0.333333,0.000000,...,0.000000,1.000000,0,0.000000,1.000000,0,0.0,1.0,5975,0.552780
4742,0.50,When did Desmond doss get married,0.50,0.00,5.16,0.50,2.095000,0.333333,0.500000,0.000000,...,0.166667,0.833333,1,0.200000,0.800000,0,0.0,1.0,5233,0.405230
4743,0.00,H,1.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0,0.000000,1.000000,0,0.0,1.0,7864,-1.000000
4744,0.75,find fact about dog,0.25,2.80,6.47,1.00,5.030000,0.500000,0.750000,0.250000,...,0.250000,0.750000,1,0.333333,0.666667,0,0.0,1.0,5316,0.498821
4745,1.00,kid,0.00,4.28,4.28,1.00,4.280000,1.000000,0.000000,1.000000,...,0.000000,1.000000,0,0.000000,1.000000,0,0.0,1.0,8397,1.000000

In [290]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon', 'top50NonSterCount',
       'top50NonSterRatAnt', 'top50NonSterAntCon', 'qID', 'tfidfAll'],
      dtype='object')

In [291]:
len(VocabTFIDFAll), len(Vocab)

(4746, 4746)

In [292]:
VocabTFIDFAll['qID'].equals(Vocab['qID'])

True

In [293]:
# pd.merge(Vocab, VocabTFIDFAll, on='qID')

In [294]:
# Vocab['query']

In [295]:
# a=Vocab.copy()
# b=VocabTFIDFAll.copy()

In [296]:
# a.rename(columns={'query': 'key'}, inplace=True)
# b.rename(columns={'query': 'key'}, inplace=True)

In [297]:
# a[a.key == 'youtube']

In [298]:
# b[b.key == 'youtube']

In [299]:
# Vocab.merge(VocabTFIDFAll)['query'][Vocab.merge(VocabTFIDFAll)['query'] == 'youtube'].values

In [300]:
# a.join(b, lsuffix='_Vocab', rsuffix= '_VocabTFIDFAll', how='inner')

In [301]:
# a=Vocab['query'].map(lambda x: len(x)).sort_values()

In [302]:
# b=VocabTFIDFAll['query'].map(lambda x: len(x)).sort_values()

In [303]:
# Vocab.shape

In [304]:
# a.equals(b)

In [305]:
# Vocab.index

In [306]:
# VocabTFIDFAll.index

In [307]:
# Vocab.merge(VocabTFIDFAll)['query']

In [308]:
# VocabTFIDFAll.isnull().sum()

In [309]:
# Vocab.isnull().sum()

In [310]:
# b

In [311]:
# a[a != b]

In [312]:
# VocabTFIDFAll.merge(Vocab, on='query')

In [313]:
df1 = pd.DataFrame({'team' : ['A', 'B', 'A'], 
                    'points' : [1, 2, 1],
                    'ID' : [1, 2, 3]}) 
df1

  team  points  ID
0    A       1   1
1    B       2   2
2    A       1   3

In [314]:
df2 = pd.DataFrame({'team' : ['A', 'D', 'C'],
                    'age' : [3,4,5],
                    'ID' : [1, 2, 3]})

df2

  team  age  ID
0    A    3   1
1    D    4   2
2    C    5   3

In [315]:
df1.merge(df2, on='ID')

  team_x  points  ID team_y  age
0      A       1   1      A    3
1      B       2   2      D    4
2      A       1   3      C    5

In [316]:
# VocabTFIDFAll.isnull().values.any()

# TF-IDF Stereotype

In the following block of code we take an 80% sample of all stereotype sessions found in SWC, and then calculate the TF-IDF values for each all queries with each query in every session seen as an individual document.

In [317]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allQueries = list(set(allQueries))
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 1]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
# allQueries = list(set(allQueries))
allSessions = allSessions[allSessions['class'] == 1]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()


text = ''
for query in queries:
    text += query + " "
    
querywords = text.split()

resultwords  = [word for word in querywords if word.lower() not in stopwords]
text = ' '.join(resultwords)

queries = allSessions['query'].tolist()

vectorizer = TfidfVectorizer()
vector = vectorizer.fit(querywords)
vectors = vector.transform(allQueries)

listTFIDF = []

with tqdm(total=len(allQueries)) as pbar:
    for m in vectors:
        if(m.sum() != 0):
            listTFIDF.append(m.sum() / m.count_nonzero())
        else:
            listTFIDF.append(-1)
        pbar.update()

        
VocabTFIDF = pd.DataFrame(data=listTFIDF, columns = ['tfidfS']).fillna(-1)
# VocabTFIDF['query'] = allQueries
# Vocab = pd.merge(Vocab, VocabTFIDF, on='query')
# Vocab = Vocab.merge(VocabTFIDF, on = 'query')
VocabTFIDF['qID'] = qID
Vocab = pd.merge(Vocab, VocabTFIDF, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 14837.42it/s]

In [318]:
queries

['why is idaho called the gem state',
 'a famos mathution',
 'motion waves',
 'Victorea stillwells Big moments',
 'Information about tigers',
 'science',
 'fact on tigers',
 'meow meow meow meow meow meow meow meow meow meow meow',
 'google docs',
 'Videos of Victoria stillwell',
 'Deathly Hallows part 2',
 'test search!',
 'South Africa facts kids',
 'What is the weeknds most famous song',
 'cast',
 "when's the last time you let your heart decide?",
 'The leopard project done by Andrew kitties',
 'Guatemala fun facts for kids',
 'facrs',
 'difference between dogs and wolves',
 'What is the new son by son and son?',
 'When is the Fast and ferious 9 coming in theaters',
 'Spirited away',
 'interesting fact about space',
 'Caculator',
 'Ada Lovelace biography for kids',
 'Where was mother Teresa born',
 'the weeney',
 'how do humans use water',
 'equal setam',
 'what is the state bird of idaho is',
 'Glg',
 'math',
 'Bethany Hamilton 2nd kid name',
 'facts about birds',
 'Bethany Hamilton Family',
 'Glo',
 'what is a cheeta',
 'bal  done',
 'Ways humans use water',
 'X facts',
 'JK Roling video life',
 'pop corn',
 'JK Roling family',
 'fun facts about bender',
 'whats a study of robots',
 'Funcki',
 'maps',
 'fox animal',
 'Sylvia earle s family',
 'The Fast and ferious 7 movie',
 'story design for video games',
 'Helen Keller kids biography',
 'animal life cycles',
 'world war II pictures',
 'Slvyia earl',
 'Billy',
 'When will the movie Zootopia come out',
 'Who plays the rabbit from the movie H.O.P.?',
 'How long is a lions Lifespan?',
 'oranizations that save animals in south america',
 'Kr',
 'who made the NAO robot',
 'Desmond doss quote',
 'Dinosur',
 'What is the ame of the song with the lyrics ? Now watch me whip watch me nay nay!',
 'short circuit cool fact',
 'coke',
 'What does it mean to be a colony',
 'dog wailk asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdfsdf dsfddddddddddddddddddddddddddddddddddddddddddddddd',
 'panda',
 'height of a t-rex',
 'How to contact NASA',
 'the tittle of the movie',
 'amazon prime',
 'Pointless website',
 'Wen did Victoria Stilwell make the show called its me or the dog .',
 'Where did Laura Ingles wilder died',
 'dino facts',
 'About Helen Keller s family',
 'Larry poppins',
 'Sumdog Math games',
 'When was Albert Einstein born',
 'minecraft',
 'Billie Ellish',
 "Assassin's Creed",
 'Okay',
 'how old can dogs grow to be',
 'Peru for kids',
 'robot girls',
 'find the famous mathematicians',
 'how tall was tyrannosaurus rex',
 "why don't little night mares coupons exist",
 'when is Selena gomez new songs are coming out',
 'When does the new m donlads goin to be buiolt',
 'how long have lions been extirced',
 'Star Wars the Force Awakens',
 'state bird of idaho',
 'Draft Day movie',
 'find ME A INTERESTING FACT ABOUT DOGS',
 'What are the most famous robots in the world',
 'movies for to day at the edwads movie theater',
 'Cast',
 'ryan toys',
 'soccer.messi',
 'When is Fuller House coming out?',
 'who invented minecraft',
 'red',
 "what is idaho's nickname",
 'car',
 'Quotes that AmElia',
 'test search 8',
 'Tesla model S',
 'Who was the first computer programmer?',
 'why do we need water',
 'how far is the sun from earth',
 'Global warming organizations',
 'Malala  family',
 'computer programmer',
 'damnit',
 'Chicken cow',
 'robop',
 'memes',
 'search test',
 'new maclelamore song',
 'NASA',
 'Helen Keller biographe',
 'who needs water?',
 'boise state',
 'Fiesh',
 'why am i so specific',
 'albert einstein',
 'Bethany Hamilton Quotes 99  ',
 'september 19 1978',
 'Facts about geckos',
 'water',
 'when is the next season of stanly supperre humans',
 'Dinoser',
 'Wangari Maathai birth',
 'largest country',
 'Dinoser facts',
 'What was the first colonies',
 'find me a difference between earth and mars',
 'bradon',
 'Where do vicu as live',
 'What songs has a name with the lyrics of "You use to call my on my self phone"',
 'about Basenji dong time',
 'who was the actor of',
 'youtube',
 'how long do horses live',
 'White House',
 'three.js how to make shapes clickable',
 'Peru',
 'belittle',
 'abcya',
 'When is the next StarWars movie coming out',
 'froze',
 'what Year was Mauchu poaching',
 'When is Batman v. Superman coming out?',
 'what are the first ten digits of pi',
 'Large es state',
 'cat dog',
 'fun facts about robots',
 'what is the study of robots called',
 'who was the first president',
 'Who plays Nemo in finding Nemo?',
 'hola',
 'verchrl robot',
 'Dogs 1',
 'fishing in boise',
 'Companies   That explore  Maasai Mara',
 'Victoria stillwells family',
 'facts about albert einstien',
 'crocodiles',
 'animal videos',
 'Famous quotes by Susan B Anthony',
 'cuke',
 'dog parks',
 'Laura Ingles wilder brave quotes',
 'Parts of speech',
 'state bird boise ID',
 'dawg',
 'Billbow - Bagan in the Hobbit',
 'Marcus Gilmore Edson parents',
 'how toll are x-rex',
 "dogs that don't shed that are smalll",
 'Peru For  KIDS',
 'colony',
 'WHAT IS THE STATE BIRD OF IDAHO',
 'the differences between earth and mars',
 'North mythology',
 'ise beer',
 'Interesting fact about albert einstein',
 'dg',
 'Consitution',
 'Idaho fish and game',
 'Water',
 'How did Anabell flote',
 'oranizations that save animals',
 'Dinosaur',
 'insects',
 'quizlet',
 'Where is Switzerland on the map',
 'who made the first video game',
 'What are the first ten digits in pi',
 'living vs nonliving',
 'the first musician',
 'linux test thanks',
 'Laura Ingles wilder mom',
 'sports and news',
 'How cold is it usually in Boise Idaho in winter',
 'information of words',
 'star wars ep. 5',
 'How old is Johny enlgish?',
 'Planet earth   ',
 'Star Wars',
 'who is the first computer programmer?',
 'a fact about albert einstein',
 'Watdr',
 'how th',
 'Ada Lovelace family',
 'South Africa',
 'cammels',
 'ghandi',
 'what is the suited of robots',
 'solar sistem',
 'spelling lity',
 'what are the first ten digits in pi ?',
 'what do banks do?',
 'what is the height of a tyrannosaurus rex',
 'Tacare video Jane Goodall',
 'Wangari Maathai',
 'organizations that protect endangered animals in south america',
 'roblox',
 'Character from monster high',
 'Ada Lovelace quotes',
 'diameter of the earth',
 'bugs',
 'interesting fact about einstein',
 'J. K. Rowling',
 'Vere si du bist  ein  frau',
 'manacle hand',
 'rock cycle',
 'facts about tigers',
 'hkhlkhj',
 'How do they make the chewey voice starwars',
 'Quotes from victor w',
 'Explorers of the Maasai Mara',
 'Largest country In the World',
 'uiuiuiuiuiiiuiiuiuiuiuiiuiuiuiuiuiiuiuiuiui uoi oi o ioiooooiooiooioioioioiooioioioioioiuiuiuiuiuiuiiuiuiuu',
 'games',
 'Who played sander in The Walking Dead',
 'Wangari Maathai birth date',
 'Billie Eillish',
 'animal',
 'xpmath',
 'name of a famous mathematician',
 'what was the name if the first computer programmer',
 'crechur',
 'the Incredibles',
 'mincraft songs',
 'cool fact about space',
 'google stadia',
 'calculator',
 'armer games',
 'Poppys',
 'frozen sven',
 'beavers',
 'test search 123 test',
 'Victoria stillwells Hard times',
 'Rood',
 'Fvffffffffffffccccccc,cast',
 'bangladesh',
 'soccer.neatness',
 'Meow',
 'who is the first scientist that invented a robot',
 'Shark facts',
 'who was the faist computer programmer',
 'ocean clean up organizations',
 'raild',
 'wit is the stud robs',
 'Save the forests from pulushin',
 'Iran facts for kids',
 'child labor',
 'alphabet',
 'Danica Patrick',
 'Desmond Doss the hero',
 'When is star wars going to come out',
 'Songs buy Charlie Puth',
 'what was the first dinosaur discovered',
 'How do humans use water',
 'Victoria Stilwel',
 'start wars',
 'What is ecosystem',
 'difference between mars and earth',
 'What is the biggest rock found on Mars?',
 'taste search incoming 2',
 'about Basenji',
 'Hedgesffvvgvbybyby tv tbtv gtvvtbtbtbtbtbtbtggtbttbthbyngmunhnh hnunumumjmimimimimimimuummununu tv',
 'Cohbuj',
 'wat is a robot made out of',
 'lighting rods',
 'how tall is donald trump',
 'beaver diet',
 'Ca tv',
 'hlhlh',
 'How many tries did it take for Albert Einstein to figure out the theory of relativity',
 'how tall was a tyrannosaurus',
 'find me a fact about albert einstein',
 'geyser in yellowstone',
 'how many adolescents play minecraft',
 'Treater',
 'dinoser',
 'fish',
 'Helo',
 'Why do dogs wag their tail',
 'scientist who invented the robot',
 'snake',
 'Did Bethany Hamilton say any Quotes',
 'watch',
 'test search misspelling',
 'name of the first computer programmer',
 'game',
 "mento's foam",
 'idaho hhistory',
 'doog',
 'what planet is closest to the sun',
 'wolf and dog difference',
 'Malala mom',
 'p',
 'jo bidden',
 'about poodles dog time',
 'Large es stat',
 'Ameraca',
 'Yemen fun facts for kids',
 "i haven't used an apostrophe but now i did thanks",
 'soe',
 'How many langenges was Jurassic world made in',
 'test search 6',
 'mary had a little lamb',
 'pupee',
 'cake',
 'intresting',
 'Nikola Tesla berth',
 'Bethany Hamilton birth place',
 'Ti',
 'kids',
 'Where do monkeys live',
 'what es idaho stat bird',
 'The new starwars',
 'whale',
 'Info on foxes',
 'interesting fact about dogs',
 'Volcanos',
 'MIG games',
 'did dinosaurs have feathers',
 'hoe',
 'state bird of Idaho',
 'Calvin and hobbis',
 'how was the first person to make the computer program',
 'What war did Desmond Doss fight in',
 'dinoser test',
 'element robots',
 'example of a leamer',
 'raindeer',
 'Sylvia earl',
 'Largest country',
 'What is the largest country in the world?',
 'my favourite movie',
 'Rabit',
 'What is NASA s address',
 'How to make mint chocolate chip ice cream',
 'facebook',
 'who was the first computer programmer',
 'Norway for kid',
 'Helen Keller When was Helen Keller born',
 'Dogs',
 'What are saturns rings made of',
 'kidney',
 'When is the new ghost busters coming out',
 'The fights of a Tyrannosaurus Rex',
 'new finding nemo movie',
 'row bots',
 'Bethany Hamilton Quotes',
 'cricket',
 'youtube videos',
 'South Africa facts for kids   FACTS',
 'Planet Mars',
 'how computers and robots work',
 'coollonys',
 'Balll pythons banana',
 'Search',
 'The leopard project done by Andrew kittle',
 'Norway for kids',
 'Test search',
 'albert instin',
 'norse mytology',
 'Boise fun',
 'Why was Dian fossey  a hero ',
 'who was the first  computer programmer',
 'why are there falling trees in beavers eco-sysitem',
 'What is the capital of Spain?',
 'Bog',
 'Cats',
 'cool',
 'Dian fossy',
 'how to manufatcure  airplane',
 'JK Roling video',
 'what was the first computer program',
 'Pizza',
 'equal seatam',
 'obscene',
 'dinoser fakts are intresting',
 'Mother Teresa biography',
 'What do Vicu as eat',
 'alligator',
 'boise stae university dagree',
 'games to play when you board',
 'Computer games',
 'seasons',
 'Wen was Marcus Gilmore Edson born',
 'What was Lucy (from chronicels of Narnia) age',
 'Facts about Norway',
 'How to save whales',
 'name of a famous mathaticon',
 'weather',
 'find a fact about  albert einstein',
 'Date of death for Amelia Earhart',
 'mamoth facts',
 'ecosystem',
 'how far is the earthe from the sun',
 'What is the capital of Norway',
 'Pop',
 'the cat and the hat',
 'amino acid',
 'I m going through my phone to call my phone now just to',
 'i skarch of word work',
 'Hi',
 '    ',
 'The leopard project',
 'What is the movie "The Secret life of pets"',
 'Who and what needs water.',
 'what are the first 10 digits in pie',
 'Organizations For VICU A',
 'who made the Nail Robot',
 'Desmond Doss was the way to go back into my mind',
 'What are some organizations that help the hedgehog',
 'thanos',
 'down under you tube',
 "Rod's",
 'hoomadrobots',
 'Who is the name of a Macdre song?',
 'what is idahos biggest crop',
 'hippos',
 'hope',
 'who created the first computer program',
 'studio c',
 'technologies used in robots',
 'what was the first computer programer',
 'Facts about dogs',
 'Discombobulated',
 'who is the 1st computer programmer',
 'staggering bautey (a game)',
 'songs',
 'paw patrol',
 'what are the first ten digits in pi',
 'the hight of  a tyrannosaurus rex',
 'hight of t rex',
 'Diniser facts',
 'Famous landmarks in Norwa',
 'how tall is a tyrannosaurus rex',
 'national vicuna reserve',
 'B',
 'Friend',
 'who was the first computer program',
 'frozen full movie online',
 'spelling',
 'When  Did Nellie bly get Maried',
 'methology',
 'yellowstone most famous geyser',
 'Bop corn',
 'famous math matician',
 'how tall was a trex',
 'good wood',
 'How old is Ray from StarWars?',
 'Who raise Marcellus Gilmore Edson',
 ';lkfjdsa\\\\\\\\',
 'How tall was the tyrannosaurus rex?',
 'what are robots',
 'WHAT IS THE Difference between earth and mars',
 'Chicen  noo',
 'America',
 'down under',
 'aaa',
 'Songs by Adele',
 'What year did the Russian federation become Russia',
 'messi',
 'Yellowstone international park',
 'jojo bizarre',
 'what is an elected official',
 'pugs',
 'thiewhfw',
 'Fast and the ferious',
 'rob   ot',
 'tyrannosaurus rex',
 'facts about robots',
 'robs',
 'Buddy is gool',
 'THe robot that can remember',
 'dolphins',
 'Mallory holtman  s life as Mallory  holtman s life',
 'starwars episode the force returns',
 'scientist who evented the robot',
 'what is the closest planet to the sun',
 'the state  bird of idaho',
 'Pop corn',
 '<MEOWMIX>',
 'robots on star wars',
 'Walt Disney biographer video',
 'Moo meow',
 'hedgehog houses',
 'Highschool musical',
 'Sobelman',
 'how cold is it in idaho?',
 'math games',
 'Norway for kidney',
 'jojo',
 'how many people are in the world',
 'The Alpaca',
 'Who plays the good terminater in Terminater two',
 'find me a distance between the earth and mars',
 'Fuller House Full episodes',
 'find me a cool fact about space',
 'the first ten digits of pine',
 'what is the study of robot',
 'about Lhasa Apsodog time',
 'Famous quotes by Nellie Bly',
 'Water cof',
 'How many phones sell in a day',
 'favorite',
 'do a barrel roll',
 'Dog',
 'Facts about Norway for kids',
 'why are there falling trees in beavers eco-system',
 'he',
 'Walt Disney biology',
 'Jurassic world',
 'where does sink water come from',
 'funny dog pictures',
 'how does flooding caused by beaver dams effect plants',
 'How tall was the tyrannosaurus rex',
 'what is the tallest dinosers',
 'bevers',
 'how tall was the tyrannosaurus rex',
 'ideas for poems',
 'Albert Einstein',
 'doig',
 'the scientist who invented robots',
 'a cool fact about space',
 'Constitution',
 'Anne Frank quotes',
 'Fantastic hair doos',
 'friv',
 'who voiced Mr.Incredible',
 'google',
 'Phone search',
 'ghandi biography',
 'Plastic soap pie bekaese',
 'nhight of a t-rex',
 'frog',
 'Mallory holtman',
 'Images of dragons',
 'Murry poppins',
 'albert enstein',
 'idaho hostoruyHistory',
 'Ball pythons banana spider',
 'Albert Einstein s most difficult part of his life',
 'bees',
 '!#$#%#^^&&*',
 'find me an interesting fact about a dinosaur',
 'Hfgmhvhjcfhjc facts for kids',
 'norse mythology',
 'Middle',
 'dffdf',
 'okay simple test search! lets go',
 'Xklapone',
 'solar system works',
 'sylvia Earie',
 'upcoming games for nintendo switch',
 'Videos of Victoria stillwell With Dogs',
 'find an interesting fact a boat dog',
 'What was the largest dinosaur',
 'Sylvia Earle quotes',
 'the but',
 'tin digits of pie',
 'What is the top game this week?',
 'who is the first computer prorammer',
 'The Incredibles',
 'first computer scientist',
 'Maathai family names',
 'ddffffff',
 'the first computer programmer',
 'Kissing video',
 'urban dictionary',
 'Hat',
 'About idaho',
 'Who plays the bad guy in Star Wars the Horde awakends?',
 'interesting fact about robots',
 'Helen Keller  for kids',
 'eco system',
 'coding',
 'how many four movies are there',
 'Refresh!',
 'websites for facts',
 'Whats the song I cut my hangs with some rusty kitchen sissors',
 'movie',
 'flying dog',
 'famous mathematictions',
 'diameter of the sun',
 'tortoises',
 'mars dose not have air',
 'what is the height of a tyrannosaurs rex',
 'Vicu a organizations',
 'Victoria Stilwell biography',
 'Famous quotes of Susan B Anthony',
 'brian r clow',
 'hello! test here dinosaur yes lets go',
 'dinoser fakts',
 'Norway',
 'how will win a bull shark or a anaconda',
 'who made the first robot',
 'test again',
 'rabeis',
 'about idaho',
 'A whole with a horn',
 'baseballs.neatness',
 "Albert Einstein's family",
 'lionfish',
 'When is the new finding nemo movie comieng out',
 'what causes an earthquake',
 'who as the first computer programmer\\\\',
 'Largess state',
 'what are robots made of',
 'Dinosaur facts interesting okay love',
 "minto's foam",
 'ahoy there maytey',
 'Ant-man movie',
 'games',
 'Military Mechanical Dog',
 'the name of the first computer programer',
 'qwerty',
 'nepal',
 'firefox test!',
 'what es idaho stae bird',
 'how many people in Spain speak spanish',
 'jingle belles',
 'baby yoda',
 'hhh',
 'Iran',
 'how tall was a tyrannosaurus rex',
 'Sylvia Earle family member names',
 'Dinosdt facts',
 'Cats bts',
 'dionser',
 'What is one of the 8 largest dinosaurs',
 'indeginous facts',
 'water robots',
 'what did albert alberstin sudy',
 'Hellen Keller',
 'earth day',
 'Di easier',
 'Military heroes',
 'Jurrasic wortl',
 'healthy meals',
 'science lesson',
 'sylvia Eerie',
 'Google',
 'A COOL FACT ABOUT SPACE',
 'How old is TinkleBell',
 'what is the Idaho state bird',
 'l gdlfk gdlfkg dlkfg dlg sdgdlg dlfg dlfkgj dflg dfg jdfg d',
 'Who plays Kylo Ren from StarWars?',
 'kllllllllllllllllllllkkkkkkkkkkkkkkkjnnnnnnnn',
 'interesting facts about dogs',
 'fishing in idaho',
 'how tall is a tranosoris',
 'I a i',
 'Con',
 'Famous quotes by Dian Fossey',
 'biggest fish',
 'hjljkhl',
 'how many theeth do the t rex have',
 'Child MMR vaccine in boise',
 'Bethany Hamilton parents',
 'enter sandman',
 'What is the',
 'how do fallen  tree effect the forest',
 'find me 10 cool facts about space',
 'the scientist that invented robot',
 'dinosar',
 'Nikola Tesla',
 'When does summer break start?',
 'Marcus Gilmore Edson',
 'frog kung fu',
 'hello',
 'Amelia Earhart s young life',
 'santu',
 'tumblr',
 'damnitd',
 'sophia carson\\\\',
 'When is the new ghost busters comeing out',
 'Star wars',
 'test search 10',
 'Victoria stillwell video',
 'How many people are in Norway?',
 'fox',
 'jldfdjfgoiuertruoifdjkgf',
 'YouTub',
 'Yellowstone international school',
 'dsfad',
 'fact about albert einstein',
 'When did Jane Goodalls second husband die',
 'test search',
 'Spain kids facts',
 'Robot facs',
 'fact about space',
 'wat is the stat bird of idaho',
 'camel',
 'WHAT ARE THE FIRST 10 Digits OF PI',
 'Star wars',
 'Marcus gilmore Edson',
 'Dantdm',
 'linux Firefox test',
 'Gogo',
 'Harry potter sward in the stone',
 'Actor of Hulk in Avengers',
 'fortnite',
 'Special soldiers',
 'how far is the sun',
 'how tall is the tranisores rex',
 'animal dog',
 'facts about dog',
 'how many miles is it to the moon?',
 'hello! test search here',
 'images for project',
 'Facts about Spain for kids',
 'what is the height of a trex',
 'dogs',
 'Mother Teresa quotes',
 'who was the first cumputer programer',
 'loveable',
 'When  Did Nellie bly get Marie s',
 'the first compt',
 'Laura Ingles wilder have kids',
 'How many Star Wars movies will be made?',
 'House of dreams',
 'When did Desmond doss get married',
 'H',
 'kid']

In [319]:
VocabTFIDF.head(30)

      tfidfS   qID
0   0.706882  6352
1  -1.000000  8305
2  -1.000000  6814
3  -1.000000  7688
4  -1.000000  6221
5  -1.000000  6645
6  -1.000000  9056
7  -1.000000  7349
8   0.707107  5008
9   0.707107  6503
10  1.000000  9686
11  1.000000  9312
12  1.000000  8535
13  1.000000  8594
14  1.000000  8956
15  1.000000  9308
16  1.000000  7015
17  0.667439  6778
18  1.000000  7596
19  1.000000  5709
20  1.000000  9544
21  1.000000  7255
22  1.000000  9521
23  0.575734  5381
24 -1.000000  5992
25 -1.000000  6014
26 -1.000000  7752
27  1.000000  5267
28  1.000000  6232
29  1.000000  5808

In [320]:
Vocab.head(2)

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,top250NonSterRatCon,top50SterCount,top50SterRatAnt,top50SterAntCon,top50NonSterCount,top50NonSterRatAnt,top50NonSterAntCon,qID,tfidfAll,tfidfS
0,0.5,US civil war causes,0.5,0.00,10.89,0.75,6.1,0.5,0.25,0.25,...,0.75,0,0.0,1.0,0,0.0,1.0,6352,0.491051,0.706882
1,0.0,scooter brands,1.0,6.68,7.72,1.00,7.2,0.5,0.00,0.50,...,0.50,0,0.0,1.0,0,0.0,1.0,8305,0.704467,-1.000000

In [321]:
VocabTFIDF.head(2)

     tfidfS   qID
0  0.706882  6352
1 -1.000000  8305

In [322]:
VocabTFIDF.shape

(4746, 2)

In [323]:
Vocab.shape

(4746, 25)

In [324]:
#-- E

In [325]:
# pd.merge(Vocab, VocabTFIDFAll, left_index=True, right_index=True)

In [326]:
(Vocab.columns).is_unique

True

In [327]:
Vocab.shape

(4746, 25)

# TF-IDF Non-Stereotype

In the following block of code we take an 80% sample of all non-stereotype sessions found in SWC, and then calculate the TF-IDF values for each all queries with each query in every session seen as an individual document.

In [328]:
# allSessions = pickle.load( open( "../Data/DataSets/SWC/SWC.p", "rb" ) )
# allQueries = list(set(allQueries))
# allSessionsQ = allSessions.loc[allSessions['type']=='Q']
# allSessionsQ = allSessionsQ[allSessionsQ['class'] == 0]
# sID = allSessionsQ['sID'].unique()
# corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
# allSessionsQ = allSessionsQ[allSessionsQ['sID'].isin(corpus)]
# queries = allSessionsQ['query'].tolist()

allSessions = pickle.load( open( "../Data/DataSets/SQS/castsventrecSQS.p", "rb" ) )
# allQueries = list(set(allQueries))
allSessions = allSessions[allSessions['class'] == 0]
sID = allSessions['sID'].unique()
corpus = np.random.choice(sID,int((len(sID)*.8)), replace=False)
allSessions = allSessions[allSessions['sID'].isin(corpus)]
queries = allSessions['query'].tolist()


text = ''
for query in queries:
    text += query + " "
    
querywords = text.split()

resultwords  = [word for word in querywords if word.lower() not in stopwords]
text = ' '.join(resultwords)

queries = allSessions['query'].tolist()

vectorizer = TfidfVectorizer()
vector = vectorizer.fit(queries)
vectors = vector.transform(allQueries)

listTFIDF = []

with tqdm(total=len(allQueries)) as pbar:
    for m in vectors:
        if(m.sum() != 0):
            listTFIDF.append(m.sum() / m.count_nonzero())
        else:
            listTFIDF.append(-1)
        pbar.update()
    
VocabTFIDFNA = pd.DataFrame(data=listTFIDF, columns = ['tfidfNS']).fillna(-1)
# VocabTFIDFNA['query'] = allQueries
# Vocab = pd.merge(Vocab, VocabTFIDFNA, left_index=True, right_index=True)
# Vocab = Vocab.merge(VocabTFIDFNA, on = 'query')
VocabTFIDFNA['qID'] = qID
Vocab = pd.merge(Vocab, VocabTFIDFNA, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 12573.05it/s]

In [329]:
Vocab.shape

(4746, 26)

In [330]:
len(queries)

3037

In [331]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon', 'top50NonSterCount',
       'top50NonSterRatAnt', 'top50NonSterAntCon', 'qID', 'tfidfAll', 'tfidfS',
       'tfidfNS'],
      dtype='object')

# Stopwords

In the following block of code we load up a list of stopwords (not those found in NLTK) and then count the number of stopwords found in each query.

In [332]:
stopWords = []
st = WordNetLemmatizer()

with open('DataSets/stopwords.txt') as csv_file:
    csv_reader = csv.reader(csv_file)
    for row in csv_reader:
        if (row):
            stopWords.append(st.lemmatize(row[0]))
        else:
            pass

        
stopCount = []
stopAverage= []
st = WordNetLemmatizer()

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:
        count = 0
        for word in query.split(' '):
            word = word.lower().strip()
            word = re.sub(r'[^\w\s]','',word)
            word = st.lemmatize(word)
            if word in stopWords:
                count +=1
            else:
                pass
        stopCount.append(count)
        stopAverage.append(count/len(query.split(' ')))
        pbar.update()
    
VocabStop = pd.DataFrame(data=stopCount, columns = ['stopCount'])
# VocabStop['query'] = allQueries
# Vocab = pd.merge(Vocab, VocabStop, left_index=True, right_index=True)
# Vocab = Vocab.merge(VocabStop, on = 'query')
VocabStop['qID'] = qID
Vocab = pd.merge(Vocab, VocabStop, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 26716.82it/s]

In [333]:
VocabStop

      stopCount   qID
0             2  6352
1             0  8305
2             0  6814
3             0  7688
4             0  6221
...         ...   ...
4741          1  5975
4742          3  5233
4743          1  7864
4744          1  5316
4745          0  8397

[4746 rows x 2 columns]

In [334]:
Vocab.shape

(4746, 27)

In [335]:
Vocab.head()

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,top50SterRatAnt,top50SterAntCon,top50NonSterCount,top50NonSterRatAnt,top50NonSterAntCon,qID,tfidfAll,tfidfS,tfidfNS,stopCount
0,0.5,US civil war causes,0.5,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0.0,1.0,0,0.0,1.0,6352,0.491051,0.706882,0.488738,2
1,0.0,scooter brands,1.0,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0.0,1.0,0,0.0,1.0,8305,0.704467,-1.000000,0.704259,0
2,0.0,scooter brands reliable,1.0,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0.0,1.0,0,0.0,1.0,6814,0.574193,-1.000000,0.574400,0
3,0.0,scooter,1.0,6.68,6.68,1.00,6.680000,1.000000,0.000000,1.000000,...,0.0,1.0,0,0.0,1.0,7688,1.000000,-1.000000,1.000000,0
4,0.0,scooter cheap,1.0,6.68,7.11,1.00,6.895000,1.000000,0.500000,0.500000,...,0.0,1.0,0,0.0,1.0,6221,0.706889,-1.000000,0.706948,0

In [336]:
# ----- start verify ----

In [337]:
if "of" in stopWords:
    print('in')
else:
    print("not in")

in

In [338]:
len(stopWords)

659

In [339]:
VocabStop['stopCount']

0       2
1       0
2       0
3       0
4       0
       ..
4741    1
4742    3
4743    1
4744    1
4745    0
Name: stopCount, Length: 4746, dtype: int64

In [340]:
# ---- end -----

## VERIFIED

In [341]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon', 'top50NonSterCount',
       'top50NonSterRatAnt', 'top50NonSterAntCon', 'qID', 'tfidfAll', 'tfidfS',
       'tfidfNS', 'stopCount'],
      dtype='object')

# Net Vocab

In the following block of code we count the occurence of individual net vocabulary found in each query.

In [342]:
www = []
com = []
net = []
org = []
gov = []
edu = []
http = []

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:

        if "www." in query:
            www.append(1)
        else:
            www.append(0)

        if ".com" in query:
            com.append(1)
        else:
            com.append(0)

        if ".net" in query:
            net.append(1)
        else:
            net.append(0)

        if ".org" in query:
            org.append(1)
        else:
            org.append(0)

        if ".edu" in query:
            edu.append(1)
        else:
            edu.append(0)

        if ".gov" in query:
            gov.append(1)
        else:
            gov.append(0)

        if "http" in query:
            http.append(1)
        else:
            http.append(0)
        
        pbar.update()
        
VocabNet = pd.DataFrame(data=com, columns = ['com'])
VocabNet['net'] = net
VocabNet['org'] = org
VocabNet['edu'] = edu
VocabNet['gov'] = gov
VocabNet['http'] = http
# VocabNet['query'] = allQueries
# Vocab = Vocab.merge(VocabNet, on = 'query')
VocabNet['qID'] = qID
Vocab = pd.merge(Vocab, VocabNet, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 519363.57it/s]

In [343]:
VocabNet.head()

   com  net  org  edu  gov  http   qID
0    0    0    0    0    0     0  6352
1    0    0    0    0    0     0  8305
2    0    0    0    0    0     0  6814
3    0    0    0    0    0     0  7688
4    0    0    0    0    0     0  6221

In [344]:
# ---------------- start verify --------------------------------

In [345]:
len(VocabNet)

4746

In [346]:
Vocab.head(3)

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,tfidfAll,tfidfS,tfidfNS,stopCount,com,net,org,edu,gov,http
0,0.5,US civil war causes,0.5,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0.491051,0.706882,0.488738,2,0,0,0,0,0,0
1,0.0,scooter brands,1.0,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0.704467,-1.000000,0.704259,0,0,0,0,0,0,0
2,0.0,scooter brands reliable,1.0,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0.574193,-1.000000,0.574400,0,0,0,0,0,0,0

In [347]:
Vocab.shape

(4746, 33)

#### Check the "domain name" in the qeury

In [348]:
# Vocab['com'].value_counts()

In [349]:
# Vocab['net'].value_counts()

In [350]:
# Vocab['org'].value_counts()

In [351]:
# Vocab['gov'].value_counts()

In [352]:
# Vocab['http'].value_counts()

In [353]:
query

'kid'

In [354]:
# Vocab.loc[Vocab['http'] == 1, 'query']

In [355]:
# Vocab.loc[Vocab['org'] == 1, 'query']

In [356]:
# Vocab.loc[Vocab['com'] == 1, 'query']

In [357]:
# ---- end verify -----------

# Search Operators

In the following block of code we count the occurence of individual search operators found in each query.

In [358]:
AND = []
OR = []
quotes = []

with tqdm(total=len(allQueries)) as pbar:
    for query in allQueries:

        if "AND" in query:
            AND.append(1)
        else:
            AND.append(0)

        if "OR" in query:
            OR.append(1)
        else:
            OR.append(0)

        if "\"" in query:
            quotes.append(1) 
        else:
            quotes.append(0)
        
        pbar.update()
            
VocabOP = pd.DataFrame(data=AND, columns = ['AND'])
VocabOP['OR'] = OR
VocabOP['quotes'] = quotes
# VocabOP['query'] = allQueries
# Vocab = Vocab.merge(VocabOP, on = 'query')
VocabOP['qID'] = qID
Vocab = pd.merge(Vocab, VocabOP, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 521868.89it/s]

In [359]:
Vocab.shape

(4746, 36)

In [360]:
# ---- begin verify -----

In [361]:
# Vocab.loc[Vocab['OR'] == 1, 'query'] # ---?

In [362]:
# Vocab['quotes'].value_counts()

In [363]:
# Vocab.loc[Vocab['quotes'] == 1, 'query']

In [364]:
# Comments:

# No queries with 'AND' oparator 

# ------------ End verify --------

# Interogatives 

In the following block of code we determine if a query contains an interogative.

In [365]:
inter = []
VocabInter = pd.DataFrame(data=vocab, columns = ['coreVocab'])

x = len(allQueries)

with tqdm(total=len(allQueries)) as pbar:
    for num in range(x):
        query = allQueries[num]

        if re.match(r"who( |'re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"what( |'re|re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"when( |'re|re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"where( |'re|re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"why( |'re|re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"how( |'re|re|'s|s)", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"is ", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"are ", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"can ", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"could ", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"should ", query, flags=re.IGNORECASE):
            inter.append(1)

        elif re.match(r"would ", query, flags=re.IGNORECASE):
            inter.append(1)

        else:
            inter.append(0)
    
        pbar.update() 
        
VocabInter = pd.DataFrame(data=inter, columns = ['inter'])
# VocabInter['query'] = allQueries
# Vocab = Vocab.merge(VocabInter, on = 'query')
VocabInter['qID'] = qID
Vocab = pd.merge(Vocab, VocabInter, on='qID')

100%|██████████| 4746/4746 [00:00<00:00, 104060.59it/s]

In [366]:
Vocab.head()

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,com,net,org,edu,gov,http,AND,OR,quotes,inter
0,0.5,US civil war causes,0.5,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0,0,0,0,0,0,0,0,0,0
1,0.0,scooter brands,1.0,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0,0,0,0,0,0,0,0,0,0
2,0.0,scooter brands reliable,1.0,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0,0,0,0,0,0,0,0,0,0
3,0.0,scooter,1.0,6.68,6.68,1.00,6.680000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
4,0.0,scooter cheap,1.0,6.68,7.11,1.00,6.895000,1.000000,0.500000,0.500000,...,0,0,0,0,0,0,0,0,0,0

In [367]:
Vocab.shape

(4746, 37)

In [368]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon', 'top50NonSterCount',
       'top50NonSterRatAnt', 'top50NonSterAntCon', 'qID', 'tfidfAll', 'tfidfS',
       'tfidfNS', 'stopCount', 'com', 'net', 'org', 'edu', 'gov', 'http',
       'AND', 'OR', 'quotes', 'inter'],
      dtype='object')

In [369]:
# --- begin veirfy --------

In [370]:
Vocab["inter"].value_counts()

0    4323
1     423
Name: inter, dtype: int64

In [371]:
Vocab.loc[Vocab['inter'] == 1, 'query']

31                         how to quit smoking
46                  what to take on a road trip
100                    where is dulles airport?
192                      how to get a pay raise
211      are developmental milestones universal
                         ...
4729               what is the height of a trex
4733       who was the first cumputer programer
4735           When  Did Nellie bly get Marie s
4738    How many Star Wars movies will be made?
4742          When did Desmond doss get married
Name: query, Length: 423, dtype: object

In [372]:
#----- end verif ---------


# VERIFIED

# Return Feature Set

Due to the length of this notebook, we have been merging data frames as we go. Therefore, at this point we only have to return the overall feature set.

In [373]:
# We drop the pID
Vocab__ = Vocab.drop(['qID'], axis=1)
Vocab__.shape

(4746, 36)

In [380]:
pickle.dump(Vocab__, open( "Pickles/4746VocabFeat.p", "wb" ) )

In [375]:
Vocab

,coreVocab,query,nonCoreVocab,minAoA,maxAoA,ratioAoA,queryComplexity,SVEN,ratioAbs,ratioConc,...,com,net,org,edu,gov,http,AND,OR,quotes,inter
0,0.50,US civil war causes,0.50,0.00,10.89,0.75,6.100000,0.500000,0.250000,0.250000,...,0,0,0,0,0,0,0,0,0,0
1,0.00,scooter brands,1.00,6.68,7.72,1.00,7.200000,0.500000,0.000000,0.500000,...,0,0,0,0,0,0,0,0,0,0
2,0.00,scooter brands reliable,1.00,6.68,9.32,1.00,7.906667,0.666667,0.333333,0.333333,...,0,0,0,0,0,0,0,0,0,0
3,0.00,scooter,1.00,6.68,6.68,1.00,6.680000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0
4,0.00,scooter cheap,1.00,6.68,7.11,1.00,6.895000,1.000000,0.500000,0.500000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,1.00,House of dreams,0.00,3.16,4.88,1.00,4.196667,0.333333,0.333333,0.000000,...,0,0,0,0,0,0,0,0,0,0
4742,0.50,When did Desmond doss get married,0.50,0.00,5.16,0.50,2.095000,0.333333,0.500000,0.000000,...,0,0,0,0,0,0,0,0,0,1
4743,0.00,H,1.00,0.00,0.00,0.00,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
4744,0.75,find fact about dog,0.25,2.80,6.47,1.00,5.030000,0.500000,0.750000,0.250000,...,0,0,0,0,0,0,0,0,0,0
4745,1.00,kid,0.00,4.28,4.28,1.00,4.280000,1.000000,0.000000,1.000000,...,0,0,0,0,0,0,0,0,0,0

In [376]:
Vocab.columns

Index(['coreVocab', 'query', 'nonCoreVocab', 'minAoA', 'maxAoA', 'ratioAoA',
       'queryComplexity', 'SVEN', 'ratioAbs', 'ratioConc', 'top250SterCount',
       'top250SterRatAnt', 'top250SterRatCon', 'top250NonSterCount',
       'top250NonSterRatAnt', 'top250NonSterRatCon', 'top50SterCount',
       'top50SterRatAnt', 'top50SterAntCon', 'top50NonSterCount',
       'top50NonSterRatAnt', 'top50NonSterAntCon', 'qID', 'tfidfAll', 'tfidfS',
       'tfidfNS', 'stopCount', 'com', 'net', 'org', 'edu', 'gov', 'http',
       'AND', 'OR', 'quotes', 'inter'],
      dtype='object')

In [377]:
Vocab__.shape

(4746, 36)

In [378]:
print('done')

done

**Note:** Vocab dataframe contain a 'qID' column which is the 'sID' from the original dataset. It was added for the sake of merging in order to avoide duplicates. Before saving the 'VocabFeat.p' final dataframe, we drop the 'qID' and save it to save it do 'Vocab__'